[2018-10-04 20:46] myarjunar commented on #289
first 6 points are coming from landing page which means related to INGC Geonode skin which is changes on geonode CMIIW. I'm only working at what I could change on geosafe repo at the moment

[2018-10-06 07:03] boney-bun commented on #292
Hi @raisserafael

@lucernae has made a GeoSAFE project in transifex.
please go to https://www.transifex.com/inasafe/geosafe/dashboard/ for translating GeoSAFE.
this assumes that you already have an account on the site.

please let me know if you have done with the translation as i will need to add the latest to the repo.

[2018-10-06 08:28] myarjunar commented on #292
nice stuff, @raisserafael we need to translate InaSAFE core code as well as already created here https://www.transifex.com/inasafe/inasafe-code/ . It will translate the report generated by GeoSAFE into Portuguese.

[2018-10-07 17:34] #291 closed

[2018-10-07 19:06] gubuntu commented on #292
That's in #299 @myarjunar.

[2018-10-07 19:08] gubuntu commented on #299
@myarjunar please can you apply the text that @raisserafael translated in the above documents in https://www.transifex.com/inasafe/inasafe-code/

[2018-10-08 05:02] #75 closed

[2018-10-08 05:48] gubuntu commented on #332
done for existing layers. For future layers will be an ongoing task

[2018-10-08 05:48] #332 closed

[2018-10-08 05:53] gubuntu commented on #298
@boney-bun are analyses working now on INGC, in general and for this case specifically?

[2018-10-08 05:54] #282 closed

[2018-10-08 06:43] #281 closed

[2018-10-08 07:49] myarjunar commented on #299
I can, but it wouldn't be perfect. Also if we only translate the strings that appear in the above documents, we might be getting mixed language since the report is very dynamic. The best way to do it is by translating all the strings in transifex.

Some strings in the above documents also not relevant with InaSAFE v4.

[2018-10-08 07:51] #365 closed

[2018-10-08 08:32] myarjunar commented on #298
already fixed on #346

[2018-10-08 09:39] #298 closed

[2018-10-08 09:42] gubuntu commented on #299
@myarjunar can you then specify which section @raisserafael must transate in transifex? Or are you saying the whole of InaSAFE? (there's not time for the latter)

I still think it's better for you to apply what @raisserafael has done so at least it is live in production and can be improved later.

[2018-10-08 10:04] myarjunar commented on #299
@gubuntu I hope we put some kind of tag on the strings in transifex but we didn't, so it would be really hard to find which one is for reporting. Yes, for now I just put every text in the translated report into transifex.

[2018-10-08 10:20] gubuntu commented on #299
thanks @myarjunar, let's get those deployed asap.

@raisserafael please go into the inasafe-code transifex project and translate as many other strings as you can, as soon as you can and also check on your reporting translations that Rohmat has already entered in transifex

[2018-10-09 10:21] boney-bun commented on #292
hi @raisserafael

since we have moved the INGC theme into the new repo, then the translation for the landing page is now in https://www.transifex.com/inasafe/geosafe/ingc/

[2018-10-09 10:23] lucernae commented on #292
Thanks @boney-bun .
CC @gubuntu we put the translation project into GeoSAFE's transifex project for now but it's on a separate resource than geosafe.

[2018-10-09 10:48] gubuntu commented on #292
as long as it all gets translated (Landing page, analysis page, etc.) and deployed that's fine

[2018-10-09 10:54] gubuntu opened #375 "aggregation not working?"
on testing I did an analysis choosing two aggregation polygons.

Only one map and report were produced with no breakdown per aggregation layer

[2018-10-09 10:56] gubuntu opened #376 "no basemap in report"
I did an analysis on testing (flood on roads) and there's no basemap in the report

[2018-10-09 10:59] gubuntu opened #377 "guide the user to use aggregation polygons"
# problem

it's not clear to the user which order to choose hazard, exposure and aggregation nor whether the order is important

A popup on hover over aggregation layer chooser needs to explain what the aggregation is and does

and the user needs to be guided to use the tool to select polygons...and the select tool needs to have a hover popup that explains how to use it

[2018-10-09 11:46] NyakudyaA commented on #279
I have tested this and the map shows all the words.
![screenshot 2018-10-09 at 13 43 11](https://user-images.githubusercontent.com/2510900/46667241-56355180-cbc9-11e8-83d2-9d8467ad1e0e.png)

[2018-10-09 11:46] #279 closed

[2018-10-09 15:52] myarjunar commented on #375
@gavin this is expected. even InaSAFE desktop itself would give only one map report except we enable map atlas report setting. Enabling map atlas to GeoSAFE would be another thing to do. If the map report shows only selected polygon and only selected polygon appears in aggregation breakdown report, we could say that the aggregation is working.

[2018-10-09 15:53] myarjunar commented on #345
fixed in https://github.com/kartoza/otf-project/pull/13 cc @lucernae

[2018-10-09 16:45] myarjunar commented on #376
this is also expected if we refer to the default behavior of InaSAFE desktop, but we supposed to be able to add this. Let's hope we don't need to change anything in InaSAFE core code.

[2018-10-09 20:05] gubuntu commented on #376
when you do https://github.com/kartoza/geosafe/issues/300 please add a basemap in the template (this was requested by INGC in #311)

[2018-10-09 20:10] gubuntu commented on #375
OK I can understand the map report showing the aggregate of all the selected polygons (is that what it does?) but I would expect the report to show results for each polygon as well as the aggregate.

In this case I chose two polygons, so how should I interpret the result?

can you comment @timlinux ?

Please create a new ticket in the Funnel for enabling and handling atlas reports.

[2018-10-10 05:08] gubuntu commented on #140
staging.geonode.kartoza.com will alias to geonode.kartoza.com and that will be the demo server.

geonode.ingc.gov.mz is the production server.

we can re-open or create a new issues if more domains are required in future

[2018-10-10 05:08] #140 closed

[2018-10-10 05:10] gubuntu commented on #197
stale and not clear

[2018-10-10 05:10] #197 closed

[2018-10-10 05:23] gubuntu commented on #319
@raisserafael have you added keywords to the cyclone layers? They are not appearing as valid hazard layers in GeoSAFE

[2018-10-10 05:38] gubuntu commented on #270
please test again @NyakudyaA

[2018-10-10 05:51] gubuntu commented on #327
@NyakudyaA please check if layer permissions go through to GeoSAFE

[2018-10-10 05:53] gubuntu commented on #326
@NyakudyaA please check this and also why it's not appearing as an exposure layer in GeoSAFE

[2018-10-10 05:56] gubuntu commented on #311
superseded by #376

[2018-10-10 05:56] #311 closed

[2018-10-10 06:12] myarjunar opened #379 "Enable atlas report"
We need to enable atlas report for aggregation

[2018-10-10 06:17] gubuntu commented on #268
@NyakudyaA please test and comment (on testing and INGC instead of the OP host)

[2018-10-10 06:20] gubuntu commented on #290
@saravanaganesh18 please could you provide updated feedback on this after doing an upgrade with our latest work.

cc @lucernae

[2018-10-10 06:23] gubuntu commented on #136
@lucernae I'm assuming I can close this, please reopen and comment if I shouldn't have.

[2018-10-10 06:27] gubuntu commented on #262
made redundant with controls implemented to switch order and change transparency

[2018-10-10 06:35] gubuntu commented on #76
@NyakudyaA please confirm that things you can fix witht he legend are done, then reassign to Boney

[2018-10-10 06:40] gubuntu commented on #15
@NyakudyaA please test again and comment

[2018-10-10 06:46] gubuntu commented on #307
flood_medio has been removed.

[2018-10-10 06:46] #307 closed

[2018-10-10 07:06] gubuntu commented on #178
also related to #242 and #327

[2018-10-10 07:08] gubuntu commented on #177
related to #256

[2018-10-10 07:11] gubuntu commented on #223
@carina1000 @cgiovando this window has changed a lot with InaSAFE 4. Please comment on the current one on testing or INGC

cc @myarjunar

[2018-10-10 07:16] gubuntu commented on #269
these were all done a while ago

[2018-10-10 07:16] #269 closed

[2018-10-10 07:18] gubuntu commented on #275
related to #297

[2018-10-10 08:03] NyakudyaA commented on #15
Tho download applies to results and when a user navigates to the analysis page he has more options to download
![options](https://user-images.githubusercontent.com/2510900/46721576-a0730d00-cc73-11e8-9540-841a55fd8abe.png)

[2018-10-10 08:03] #15 closed

[2018-10-10 09:10] NyakudyaA commented on #76
This is more of a styling issue to put in the units. The title `Legend` is not inherited from the qml. I have looked at all the layers in Mozambique and they have legends with units except for cyclones which I will write to Jose to redo

[2018-10-10 09:11] gubuntu opened #380 "buggy analysis"
from @cgiovando

[2018-10-10 09:13] gubuntu opened #381 "INGC theme config"
from @cgiovando

[2018-10-10 09:27] myarjunar commented on #380
could you give me more details on this? server crashing issue should be fixed already.

[2018-10-10 09:30] gubuntu opened #382 "confirm locale behaviour"
@lucernae after https://github.com/kartoza/geosafe/issues/291 can you confirm whether InaSAFE headless, GeoSAFE and GeoNode switch locales between EN and PT based on user locale and that user can override?

And that other non-available languages are removed from locale options?

[2018-10-10 10:00] lucernae commented on #380
Confusing mix of en and pt is because we don't yet have full PT translation yet.

[2018-10-10 10:13] gubuntu commented on #380
also from @lucernae

[2018-10-10 11:09] saravanaganesh18 commented on #290
@gubuntu Thanks for the update mate. For the last five months still can't pass through this phase. Didn't check the analysis page for the last one month. Will check the upgrade and let you know ASAP.

Geonode version (which i've deployed) - is still 2.7. Will it create any issues ?

[2018-10-10 11:28] gubuntu commented on #76
OK...but there are still the other legend items in the OP to resolve.

[2018-10-10 11:38] gubuntu commented on #375
@myarjunar thanks for creating the atlas report ticket in https://github.com/kartoza/geosafe/issues/379.

Please respond to my other questions above

[2018-10-10 12:12] gubuntu commented on #290
if you follow our Rancher deployment you'll get our fork of GeoNode 2.8

[2018-10-10 20:30] gubuntu commented on #299
@myarjunar I've reviewed the strings on https://www.transifex.com/inasafe/inasafe-code/ so you can go ahead and use them.

What happens with %s string replacement? where does the PT word come from for the %s?

[2018-10-10 20:38] gubuntu commented on #300
@myarjunar how far have you got with this?

IF none of the English is translated to  PT yet please send me the template(s) so I can get the strings translated.

[2018-10-10 21:26] gubuntu commented on #292
@lucernae I've translated and reviewed most of the strings in geosafe/ingc so please go ahead and use them.

There are a few phrases where the English has been chopped up e.g. phrase 9 does not follow phrase 8 properly
1. the first set of unreviewed strings make up the fully translated paragraph from #420, so you could fix the English and apply the translation.
1. The last string is not complete,

[2018-10-11 03:10] myarjunar commented on #300
I have translated what's in the translated documents. But some strings are no longer relevant with InaSAFE v4. So there must be a lot of strings left to be translated.

[2018-10-11 05:54] gubuntu commented on #300
@myarjunar have you done the INGC branding and layout of the localised map template(s)? Please point me to it so I can do the translations.

[2018-10-11 06:15] myarjunar commented on #300
@gubuntu no, because I'm working on to make geosafe able to use a custom template first. Should I do the template customization too? There is no mockup for report template with INGC branding though. The text would not change much from the original report except for the disclaimer text (if they decided to add one).

[2018-10-11 07:41] lucernae commented on #292
I only handled the infra part. I will let @boney-bun handle the details.
@boney-bun can you take over from here?

[2018-10-11 07:42] boney-bun commented on #292
@lucernae let me handle this. thanks

[2018-10-11 07:52] lucernae commented on #381
Okay @gubuntu .
GeoSAFE is supposed to be independent of the skin being used because some people may want to put different skins. Thus the skin is on separate repo.

The benefit:

1. When GeoSAFE is stable, you just need to perform changes in INGC theme repo if you want to apply skin changes (logo, text, etc). You don't need to change main GeoSAFE base.

2. If two instance of GeoSAFE use two insta

[2018-10-11 07:56] lucernae commented on #382
@gubuntu The way that it works:

1. Browser will take language settings from the computer
2. Django will take that settings and saves it on the cookie to remember it next time
3. User can switch to language, even though it is different from their computer settings. This changes will be saved (currently the button is at the bottom).
4. The whole text in site will rely in this settings to set langua

[2018-10-11 07:59] lucernae commented on #7
Well, technically it's usable. Maybe we can just put buttons to redirect to create analysis page again if the user wants to create analysis.

The modal popup is there just to confirm that the analysis is being run and the request is accepted.

[2018-10-11 07:59] gubuntu commented on #300
Can't we just modify the existing template in the first place? All the design materials are available in Drive. I'm sure @raisserafael organised a local disclaimer, I'll try to find it.

And doesn't InaSAFE already have locale logic e.g. if we set it to PT locale then it will use PT translations, _pt templates etc. ?

The only new thing we need to do which is lower priority is like the web interfa

[2018-10-11 08:02] lucernae commented on #274
Should have been fixed now.

[2018-10-11 08:43] lucernae commented on #301
Note for @boney-bun :

This might be too expensive to count where there are so many layers.

I had an alternative. CMIIW @boney-bun you made a marker group for the map for all layers. We can just zoom to the bounds of that marker group in the leaflet client.

I was thinking something like this:
https://stackoverflow.com/questions/16845614/zoom-to-fit-all-markers-in-mapbox-or-leaflet

[2018-10-11 08:51] myarjunar commented on #300
@gubuntu yes we can. I will just apply the INGC theme into the template. But again, we need some kind of mechanism to use custom template (like template uploader in realtime). Because InaSAFE will not automatically use locale related templatem. It only works for InaSAFE translation. cmiiw @lucernae

[2018-10-11 09:01] lucernae opened #383 "Implement task state tracking"
We have to know why a task is failed and at which steps.

[2018-10-11 09:41] NyakudyaA commented on #274
This is working now. will close this

[2018-10-11 09:41] #274 closed

[2018-10-11 10:13] NyakudyaA commented on #327
Yes layer permissions are respected in GeoSAFE. If a user does not have permisions to view the layer then it will not appear in his layer list and hence in GeoSAFE.

* Flood maps is not visible because the user has no permisions
![screenshot 2018-10-11 at 12 10 28](https://user-images.githubusercontent.com/2510900/46797175-b99cbc00-cd4e-11e8-8e38-194d9c08a0b5.png)

* When the admin user is added w

[2018-10-11 10:13] #327 closed

[2018-10-11 10:25] NyakudyaA commented on #178
From my testing I see the layer permissions are being filtered accordingly in Geonode and hence they filter to GeoSAFE. If a user doesn't have permissions to view the layer it won't even appear in his Geonode layer list and hence nothing appears in Geonode.

I think we can close this issue

[2018-10-11 10:27] NyakudyaA commented on #242
see comment in https://github.com/kartoza/geosafe/issues/327

[2018-10-11 10:59] NyakudyaA commented on #326
I am investigating why it doesn't appear as valid exposure layer. The keywords seem to be fine if you download the layer as xml. Will test again when GeoSAFE has been upgraded

[2018-10-11 11:29] NyakudyaA commented on #308
I have added units for population rasters in Geonode. All other layers seem to be styled properly except the cyclone rasters which I have notified Jose because I do not know the units

[2018-10-11 12:20] carina1000 commented on #223
Currently, the Analysis Result tab looks like this:

![screen shot 2018-10-11 at 13 31 29](https://user-images.githubusercontent.com/35214829/46803446-603d8880-cd60-11e8-924e-0cd5a7657433.png)

I think the new one resolves most points made before, however I have some minor suggestions to improve it even more (Hazard areas may need some more input?):
![analysis result suggestion](https://user-image

[2018-10-11 21:58] lucernae commented on #300
After reading the discussions I summarize the following:

1. Some strings in InaSAFE still needs to be translated via transifex because it will not show up on the report template files (QPT files), but do show up in the end report because it was generated dynamically.
2. If we exclude feature for web interface upload like in Realtime then we need to put the custom template in `ingc_geonode_theme`

[2018-10-12 03:15] myarjunar commented on #300
![selection_289](https://user-images.githubusercontent.com/11134669/46845847-6aff2880-ce07-11e8-8969-38c58a031b6b.png)
@gubuntu I only apply INGC skin color and change some logos. @lucernae yes the disclaimer is static, so I will just wait for INGC version of it.

[2018-10-12 03:18] myarjunar commented on #299
@gubuntu we just let `%s` as it is. InaSAFE will replace it with desired string on runtime.

[2018-10-12 05:16] timlinux opened #385 "Map report should show context layers"
<img width="1643" alt="screenshot 2018-10-12 at 06 57 24" src="https://user-images.githubusercontent.com/178003/46849027-7f362c00-cded-11e8-9a1b-109592872008.png">

Can we have the other context layers shown in the map:

• hazard
• aggregation

Having the OSM tiles as backdrop would also be nice but I suspect that is going to give us printing hassles in QGIS so skip that at the first sign of troub

[2018-10-12 07:50] lucernae commented on #385
Yes we can. In Realtime, I originally put hazard on top of exposure and aggregation in the most top. We can statically customize the same thing here (for every impact layer, put exposure, then hazard, then aggregation if any).

You mean is it going to be toggleable or just no basemap?

[2018-10-12 08:29] gubuntu commented on #300
@myarjunar that template looks great.

The 'discaimer' that @raisserafael had sent was actually the background paragraph for the home page, which is not really a disclaimer. Please post the English BNPB / generic disclaimer text here and I'll modify it for MZ and translate it to PT

[2018-10-12 08:31] gubuntu commented on #299
yes but how do we ensure that the replacement string is also translated? I guess it will be one of the strings from inasafe-code on transifex, right? So we should test and see if they get replaced with EN or PT words.

[2018-10-12 08:38] lucernae commented on #300
Beautiful @myarjunar !

[2018-10-12 08:50] myarjunar commented on #300
@gubuntu here is InaSAFE default disclaimer text
[code]

[2018-10-12 09:03] gubuntu commented on #292
@boney-bun line 24 in transifex english needs fixing:

Change `Why not creating one?` to `Why not create one?`

[2018-10-12 09:04] myarjunar commented on #223
thanks for the input @carina1000 ! here is the update https://github.com/kartoza/geosafe/pull/388 . I think it's better to just remove the close button in the footer and let the close mark in the header as it is.

[2018-10-12 09:51] gubuntu commented on #300
MZ versions

EN

`InaSAFE was jointly developed by the Indonesian Government-BNPB, the Australian Government, the World Bank-GFDRR and independent contributors. These agencies, the individual software developers of InaSAFE and the Government of Mozambique take no responsibility for the correctness of outputs from InaSAFE or decisions derived as a consequence.`

PT

`O InaSAFE foi desenvolvido em c

[2018-10-12 10:07] #242 closed

[2018-10-12 10:19] #223 closed

[2018-10-12 14:41] #377 closed

[2018-10-13 05:44] NyakudyaA commented on #380
I have tested a couple of analysis on Mozambique with the new metadata and they all complete in good time.
After running the analysis on flood on powerline the report has some issues with wording
![result](https://user-images.githubusercontent.com/2510900/46901862-a3603e80-cebb-11e8-8bba-8b1408b654b4.png)

I ran flood on powerline but the report refers everything to as roads

[2018-10-15 06:50] myarjunar commented on #380
@NyakudyaA InaSAFE still doesn't have a definition for powerline exposure. I guess somebody who created that layer use road as a type of exposure in the keyword wizard.

[2018-10-15 07:03] myarjunar commented on #300
We are now able to use a custom template in GeoSAFE. The template should come along with the custom geonode theme repo. Yet I'm still not able to make the basemap work.
![selection_291](https://user-images.githubusercontent.com/11134669/46934682-ce48bf00-d082-11e8-8d99-c7082bd7119a.png)

[2018-10-15 07:07] myarjunar commented on #313
can we close this? seems like it's no longer relevant after InaSAFE v4

[2018-10-15 07:09] myarjunar commented on #310
can we close this? seems like it's no longer relevant after InaSAFE v4. only impact layer is drawn on the map report.

[2018-10-15 07:11] #313 closed

[2018-10-15 08:32] NyakudyaA commented on #380
I understand. So the results are all good

[2018-10-15 11:49] lucernae commented on #382
Locale changes should be seen in the testing sites

[2018-10-15 12:19] gubuntu commented on #380
not good from a user perspective. I suggest removing the keywords from the powerline layer (and other layers for which there is no impact function) and just leave it there as a GeoNode layer.

[2018-10-15 12:20] lucernae commented on #380
@gubuntu can you communicate with Cristiano about this? I think the one that he mentioned has exactly this same issue described in this ticket.

[2018-10-15 12:21] gubuntu opened #393 "analysis not working"
from @cgiovando's testing on production:

[2018-10-15 12:23] myarjunar commented on #393
the issue is with the extent of population layer, not with the analysis. @boney-bun already take care of this issue in this PR https://github.com/kartoza/geosafe/pull/389

[2018-10-15 12:24] gubuntu opened #394 "override defaullt zoom"
https://github.com/kartoza/geosafe/issues/301 is a good generic behaviour but for Mozambique please override it in the INGC theme, to zoom to Mozambique.

[2018-10-15 12:51] NyakudyaA commented on #380
Fixed. Layer will not appear as exposure layer

[2018-10-15 12:51] #380 closed

[2018-10-15 12:51] boney-bun commented on #394
@gubuntu does this extent good enough for mozambique?
or, do you want me to zoom in a bit?

![screen shot 2018-10-15 at 7 48 03 pm](https://user-images.githubusercontent.com/4602383/46951941-aaea3800-d0b3-11e8-8937-395396e11436.png)

the GIF:
![ingcextent](https://user-images.githubusercontent.com/4602383/46952727-e84fc500-d0b5-11e8-96a7-88287089611c.gif)

[2018-10-15 13:46] #217 closed

[2018-10-15 14:27] gubuntu commented on #394
I prefer the first one

[2018-10-15 14:29] #394 closed

[2018-10-16 07:51] myarjunar commented on #300
@gubuntu could you help me translate the rest of the text in the map report to Portuguese as well? I will change every static text in the template to Portuguese for PT template.

[2018-10-16 09:26] gubuntu opened #397 "analysis not working with some flood hazar layers completes, but impact layer does not draw"
it only draws if I click on it from the analysis list afterwards.

Also, the report button did non populate until I returned to the page later.

This was the first time visiting the page since yesterday's upgrades so these issues might have been avoided with a page reload?

[2018-10-16 09:27] gubuntu opened #398 "report still in English"
I did an analysis on INGC after choosing PT locale and the map and table reports were still BNPB theme and in EN

[2018-10-16 09:41] gubuntu opened #400 "not all GeoSAFE UI is translated"
e.g. button and popup strings are still english, even when site language is PT.

Those strings probbably still need to get loaded into the transifex project

[2018-10-16 09:43] gubuntu commented on #299
I'm still getting English reports at INGC. Is the InaSAFE not picking up the language override (I'm not in PT locale but I selected PT in GeoNode)

[2018-10-16 09:43] myarjunar commented on #397
sorry, I don't understand the issue, could you give me more details like screenshot etc?

[2018-10-16 10:09] gubuntu commented on #300
- [x]  Disclaimer: Aviso legal
- [x] disclaimer text: you have new EN and PT in https://github.com/kartoza/geosafe/issues/300#issuecomment-429270980
- [x] Legend: Legenda
- [ ] Number of structures [where would that get translated?]
- [x] Analysis Information: Informação de análise
- [x] Time: Hora
- [x] Note: Nota
- [x] Note text: Esta avaliação é um guia - recomendamos enfaticamente que você est

[2018-10-16 11:27] gubuntu commented on #397
1. analysis completed successfully
1. report button remained empty, didn't show this or previous report
1. impact layer was not added to map

when I left to anaysis list then returned to create analysis page, all was OK.

If you're happy that it's all working from your testing then close

[2018-10-16 12:05] gubuntu commented on #310
that's true but we want the hazard and aggregation layers there too... https://github.com/kartoza/geosafe/issues/385

But I'll close it since that's not implemented yet

[2018-10-16 12:05] #310 closed

[2018-10-16 19:44] gubuntu commented on #292
this done @boney-bun ?

There are still lots of strings in the GeoSAFE UI that don't even seem to be on transifex - pls work with @myarjunar to get them there so I can translate and we can deploy - in #400

[2018-10-16 19:48] gubuntu commented on #381
thanks @lucernae

fyi @cgiovando

[2018-10-16 19:48] #381 closed

[2018-10-16 19:49] gubuntu commented on #382
yes I switched between pt and en nicely.

when should headless locale switching be implemented?

[2018-10-16 19:52] gubuntu commented on #7
yes ever since that that popup has been there it's been non-modal (with a message that you can close it and continue working)

this is actually quite out of date

[2018-10-16 19:52] #7 closed

[2018-10-16 20:18] #397 closed

[2018-10-16 20:19] #393 closed

[2018-10-16 20:20] gubuntu commented on #326
Please check again @NyakudyaA

[2018-10-16 20:22] gubuntu commented on #319
InaSAFE needs polygon cyclone hazard zones, not cyclone track points.

[2018-10-16 20:26] gubuntu commented on #231
please check and comment or close

[2018-10-16 20:36] #308 closed

[2018-10-16 20:37] gubuntu commented on #363
haven't you just implemented this @myarjunar ? please update waffle status

[2018-10-16 20:43] gubuntu commented on #294
@lucernae will you get to this? If not @myarjunar please pick up

[2018-10-16 20:44] gubuntu commented on #333
move to operations

[2018-10-16 20:52] gubuntu commented on #53
I've ticket the OP items I believe are done. There are two outstanding - can you comment on them?

[2018-10-16 20:54] gubuntu commented on #335
@myarjunar will you be doing the last item in the OP?

If not please move it into a new issue in the backlog then you can close this

[2018-10-16 20:55] gubuntu commented on #111
aggregation layer implemented too

[2018-10-16 20:55] #111 closed

[2018-10-16 20:56] gubuntu commented on #330
are you saying this has been done already? If so please close

[2018-10-16 20:57] gubuntu commented on #302
please close if done @myarjunar

[2018-10-16 20:57] gubuntu commented on #304
please close if done @myarjunar

[2018-10-16 20:58] #303 closed

[2018-10-16 21:06] gubuntu commented on #289
I think there's just one item not done, I made a checkbox. Will you still do it? If not pull it into a separate issue in backlog and then close this

[2018-10-16 21:08] #58 closed

[2018-10-16 21:08] #345 closed

[2018-10-17 03:49] myarjunar commented on #398
the main issue #300 is still in review

[2018-10-17 05:06] myarjunar opened #402 "upload report as geonode document"
upload pdf report and linked it with the impact layer and the analysis object

[2018-10-17 05:07] #335 closed

[2018-10-17 05:08] #330 closed

[2018-10-17 05:08] #302 closed

[2018-10-17 05:08] #304 closed

[2018-10-17 05:12] myarjunar commented on #53
most of them are done, currently we are only waiting for custom report PR's to be merged and tested. another thing is about the Multi-exposure Impact Function. But I think we should just create another ticket for this. CMIIW @gubuntu @lucernae

[2018-10-17 05:15] myarjunar commented on #289
@gubuntu could you give me more details on this?

[2018-10-17 05:16] myarjunar commented on #363
not yet, I think this is low priority. Currently we enforce the custom template to be retrieved from custom theme repo.

[2018-10-17 05:23] myarjunar commented on #299
@gubuntu the main issue #300 is still in review. bear in mind that if InaSAFE's transifex is not completely translated into PT, we might have mixed language on the report.

[2018-10-17 06:37] gubuntu opened #403 "analysis is saved whether you are logged in or not"
if you're not logged in, it's supposed to be ephemeral.

either change the message or change the behaviour

[2018-10-17 06:39] gubuntu commented on #363
I reckon the custom theme repo is a good enough way to do it so closing

[2018-10-17 06:39] #363 closed

[2018-10-17 08:00] gubuntu commented on #400
I've just translated the rest of the geosafe/django resource. I had completed the ingc resource last week but did not realise I had to do django too. I hope you can just use it and deploy!

[2018-10-17 08:02] gubuntu commented on #299
at least if we have mixed language we know the locale switch is working with the strings that have been translated and it will help identify which other specific strings still need translating.

[2018-10-17 08:05] gubuntu commented on #292
I've just translated the rest of the geosafe/django resource. I had completed the ingc resource last week but did not realise I had to do django too. I hope you can just use it and deploy! cc @myarjunar

[2018-10-17 08:13] myarjunar commented on #400
Thanks @gubuntu , but unfortunately there are some strings left :grinning: I will let you know once I compiled the strings and pushed it into transifex.

[2018-10-17 08:39] myarjunar commented on #400
@gubuntu I have pushed some new strings to transifex. If you find variable-like strings, just leave it as it is and only translate the non-variable-like strings.

[2018-10-17 08:55] gubuntu commented on #400
all done. For strings with variables, I translated the non-variable segments and left the tags as is

[2018-10-17 11:39] #53 closed

[2018-10-17 11:42] gubuntu commented on #289
I think a flat page linked to an additional GeoSAFE menu item: 'About' where we can add some documentation and links to other docs.

[2018-10-17 15:07] NyakudyaA commented on #231
I have checked and all analysis are completing properly even the full extent analysis.
There is no longer an option to rerun a completed analysis but it only applies to the failed analysis which would need to be run. So for now I will close as all analysis are completing

[2018-10-17 15:07] #231 closed

[2018-10-17 16:20] NyakudyaA commented on #326
I have fixed this layer. will check other population layers
![screenshot 2018-10-17 at 18 19 56](https://user-images.githubusercontent.com/2510900/47101055-5375d480-d239-11e8-8312-b3437ff20c88.png)

[2018-10-17 16:20] #326 closed

[2018-10-17 16:23] NyakudyaA commented on #402
@myarjunar doesn't the upload document references any layer in Geonode already. You can also link a document to multiple layers or you want to do it automatically ?

[2018-10-17 16:40] NyakudyaA commented on #270
@gubuntu Since GeoSAFE is now running InaSAFE version 4 we have nothing to test against. I think we can close this until someone using a client with InaSAFE version 4 test this and experiences a problem

[2018-10-17 16:41] NyakudyaA commented on #268
I ran a full analysis on testing and Mozambique and all the processes ran properly. They did not crash and the site was still usable during the process.

[2018-10-17 16:41] #268 closed

[2018-10-17 16:59] NyakudyaA commented on #76
@myarjunar I think the issue mentioned here relates to the way the analysis result is presented. I have a feeling it might have changed in InaSAFE and previously this style was hardcoded in the code to generate impact results and dynamically style them.

Could you please comment on the above issue and close if the issue no longer exists because if it's an issue with user styling we need to encoura

[2018-10-17 18:26] gubuntu commented on #270
you can test from testing against INGC

[2018-10-17 18:28] gubuntu commented on #76
@NyakudyaA you didn't finish your sentence

[2018-10-17 18:35] NyakudyaA commented on #76
I have finished it

[2018-10-17 18:36] gubuntu commented on #402
The pdf reports generated by InaSAFE need to be loaded as GeoNode docs and linked to the impact layer automatically.

[2018-10-17 18:51] gubuntu opened #404 "Layer markers in the wrong place"
layer markers are drawing at the lower left corner of the layer bounding box instead of at the centroid

[2018-10-18 01:54] myarjunar commented on #76
@NyakudyaA The style of the impact layer is already been standardized in InaSAFE. we can close this
![selection_296](https://user-images.githubusercontent.com/11134669/47126550-5ca38780-d2b3-11e8-8882-8ad6bebe3122.png)

[2018-10-18 04:46] gubuntu commented on #76
OK, assuming that's the same legend that come through in the GeoNode layers page and that it's consistently better formatted

[2018-10-18 04:46] #76 closed

[2018-10-18 08:47] gubuntu commented on #292
@raisserafael please review the portuguese through the site (GeoNode and GeoSAFE) and fix any errors in Transifex or notify us of any additional strings that need to be added to Transifex to translate

[2018-10-18 08:48] #400 closed

[2018-10-18 08:49] gubuntu commented on #299
@raisserafael please test and review in production

[2018-10-18 08:49] gubuntu commented on #300
@raisserafael please test and review in production

[2018-10-18 15:53] saravanaganesh18 commented on #290
@gubuntu Hi, I've tried and it's even worse than previous version. Can't even able to see the uploaded layers. I've already raised this issue and it's been resolved. But it's happening again. I've tried the steps mentioned in this thread. Same result

https://github.com/kartoza/geosafe/issues/283

On a side note, I am desperately trying to sort this out for my PhD completion. Since i couldn't reso

[2018-10-18 16:06] lucernae commented on #290
Did you install it via rancher?
Can you point out where you install it? @saravanaganesh18

[2018-10-18 16:23] saravanaganesh18 commented on #290
Yes. It has been installed via rancher.

This is the url of running site - http://104.131.165.7

[2018-10-18 20:07] gubuntu commented on #290
@saravanaganesh18 you definitely need the latest version (comes with with Geonode 2.8 and InaSAFE 4.4). @lucernae can advise on the best way to install / upgrade

[2018-10-19 07:38] #292 closed

[2018-10-22 03:45] myarjunar commented on #403
@gavin we already have a scheduled task for this, see https://github.com/kartoza/docker-geosafe/blob/develop/src/core/geosafe.py#L84 . I've checked in testing-instance's rancher and it seems like the task ran properly. cc @lucernae

[2018-10-22 04:32] myarjunar commented on #403
@gubuntu we already have a scheduled task for this named `clean_impact_result` and run every 0:00 AM. I've checked in testing instance rancher and it seems like the task ran properly. cc @lucernae

[2018-10-22 05:10] gubuntu commented on #118
can you comment on this @myarjunar ?

[2018-10-22 09:59] NyakudyaA commented on #270
@lucernae Metasearch is not responding . It's not returning any layers at all whether they have InaSAFE v4 keywords or not. Can you take a look at the codebase and see if nothing has changed with the way you fetch the layer. I assume you use OWSlib ?

Tried various connection details:
http://geonode.inasafe.org/catalogue/csw
https://testing.limpopobims.kartoza.com/catalogue/csw

[2018-10-22 14:51] myarjunar commented on #375
Other than the atlas reports, you can see the aggregation result in the table report. There is already section to describe the detail report of each aggregation areas.

[2018-10-22 14:57] myarjunar commented on #297
has #264 been implemented?

[2018-10-22 18:34] #375 closed

[2018-10-22 18:41] gubuntu commented on #383
same as #264?

[2018-10-22 18:41] gubuntu commented on #264
merge with #383?

[2018-10-22 18:42] gubuntu commented on #297
no it hasn't - but it looks like @lucernae wants to do since he opened #383 recently

[2018-10-24 10:31] gubuntu commented on #294
implement in ingc theme settings

[2018-10-25 06:06] #398 closed

[2018-10-25 13:10] NyakudyaA commented on #403
Tested. When a user is anynomous the results are not saved.
![screenshot 2018-10-25 at 15 09 28](https://user-images.githubusercontent.com/2510900/47502443-14163c00-d868-11e8-81eb-984aedfcab59.png)

[2018-10-25 13:10] #403 closed

[2018-10-25 13:16] NyakudyaA commented on #382
@gubuntu I also could change between the languages nicely. We can close this

[2018-10-25 13:58] gubuntu commented on #382
@NyakudyaA please test that text and map reports are also in ingc theme and in pt.

[2018-10-25 13:59] NyakudyaA commented on #382
Yes I am currently running an analysis in PT

[2018-10-25 14:01] myarjunar commented on #382
@gavin @NyakudyaA  I'm still doing the last check and fix on custom template. I will let you know once it gets deployed.

[2018-10-25 14:02] NyakudyaA commented on #382
Ok @myarjunar I have ran an analysis and if failed with some errors. I will create a new issue for it

[2018-10-25 14:04] NyakudyaA opened #413 "Analysis failed while in PT"
# Problem

I ran floods on classified roads with aggregation layer got the following error.

![screenshot 2018-10-25 at 16 00 45](https://user-images.githubusercontent.com/2510900/47505973-79b9f680-d86f-11e8-9cd9-8140980595f0.png)

[code]

[2018-10-29 14:28] NyakudyaA opened #414 "Hazard and exposure layer extents are not filtering properly"
# Problem

Filtering is not happening properly for hazard/exposure layer.
![screenshot 2018-10-29 at 16 19 48](https://user-images.githubusercontent.com/2510900/47656240-607ab800-db97-11e8-9680-552a5a7d65be.png)

I assumed the extents would intersect somehow but they seem to be in totally different places.
![screenshot 2018-10-29 at 16 26 35](https://user-images.githubusercontent.com/2510900/47656

[2018-10-29 14:41] NyakudyaA opened #415 "No report generated - Failure to download all results"
#Problem

After running an analysis the results generated are not viewable or downloadable.

See http://testing.geonode.kartoza.com/geosafe/analysis/report/55/all

#Solution
Please fix

[2018-10-29 15:03] myarjunar commented on #414
Does this relate to the previous extent problem @boney-bun ? Since the problem is with the layer extent, I will re-assigned this to @boney-bun . cc @lucernae

[2018-10-29 15:14] myarjunar commented on #415
still working for #412 to pass the test

[2018-10-29 18:08] NyakudyaA commented on #415
OK cool. will check again after you have merged

[2018-10-30 06:34] boney-bun commented on #414
i don't fully understand the problem.
the use case is:
1. select `Tanzania Health Facilities` from Exposure section.
2. then, we suppose to select the Hazard section. The Hazard section was disabled to show that no corresponding Hazard layers with the selected Exposure layer.
The Exposure layers was still highlighted to indicate what a user has chosen previously (green colour).

i think this is th

[2018-10-30 06:38] NyakudyaA commented on #414
@boney-bun you are doing it the other way round. Select floods as a hazard layer and it zooms to Mozambique and shows that there is an exposure layer. Now select the exposure layer then it zooms out and deselects the hazard layer. If these two layers were not in the same geographical extent why are they appearing in each other's extent?

Mozambique layers should not be mixed with Tanzania stuff un

[2018-10-30 07:47] NyakudyaA commented on #414
@gubuntu  can you comment on the following scenario we have uncovered.

* Currently it seems the analysis page filters layers based on the extent of the map. This allows a user to zoom in and out and the layers change based on this extent which works well.

* If a user toggles full screen then the map extent changes and this results in hazard/exposure layers showing up in the list which are not in

[2018-10-31 05:58] #413 closed

[2018-10-31 05:58] #415 closed

[2018-10-31 06:42] gubuntu commented on #414
@boney-bun I agree with @NyakudyaA's points. Once a user has selected any hazard, exposure or aggregation layer, the others should be filtered based on their selection.

[2018-10-31 10:38] NyakudyaA opened #421 "UI/UX review - Add Flat page"
# Problem

This is inherited from #289

- [ ]  about option in the topbar should be something to describe the app

I think a flat page linked to an additional GeoSAFE menu item: 'About' where we can add some documentation and links to other docs.

[2018-10-31 10:38] NyakudyaA commented on #289
@myarjunar I think this is still missing. There is no about page describing GeoSAFE. The only about page on the site describes Geonode. I have opened a new ticket with this issues and will close this one

[2018-10-31 10:38] #289 closed

[2018-10-31 12:23] NyakudyaA commented on #382
I ran the analysis and the text and theme are still in the old GeoSAFE themes. Perhaps @myarjunar still busy fixing this as it relates to custom templates

[2018-10-31 12:30] NyakudyaA commented on #404
@boney-bun I am going to close this and do another ticket with regards to these markers. There seems to be a new bug.

[2018-10-31 12:43] NyakudyaA opened #423 "Layer markers are not visible at all scales"
# Problem

Whilst fixing  #404  there are bugs that were introduced
* Default view is empty - No markers are visible
* Zooming in - No markers are visible
* Zooming out - Markers are visible at only one scale level

# Solution
Make it happy

[2018-10-31 13:03] gubuntu commented on #404
Ok @NyakudyaA but in future keep the same ticket open, takeit back to In Progress and add a Regresssion label

[2018-10-31 13:03] #404 closed

[2018-10-31 13:06] gubuntu commented on #423
@boney-bun we should have no regresssions with adequate unit tests and user testing. We can't have things like this happening the day before the demo

[2018-10-31 14:09] boney-bun commented on #423
there was a mistake with previous PR (https://github.com/kartoza/geosafe/pull/416) due to the use of github's suggestion feature.
i have made an urgent patch here: https://github.com/kartoza/geosafe/pull/420
so, i guess this is no longer valid.

can you test it again @NyakudyaA ?

[2018-11-01 06:38] NyakudyaA commented on #423
I have tested this again. The default view shows all the markers and zooming out they still appear. If you zoom in the markers are replaced by rectangles. This is the expected behaviour

[2018-11-01 06:38] #423 closed

[2018-11-01 09:22] gubuntu opened #427 "improve communication of "exposed" and "affected" in analysis summary"
from @cgiovando

![screen shot 2018-10-29 at 16 59 19](https://user-images.githubusercontent.com/496911/47843454-52f84480-ddc8-11e8-875c-e2d52dd00cfb.jpg)

 related to #434

[2018-11-01 11:07] gubuntu commented on #300
@myarjunar all the translations above have not been applied

[gavin flood on minplants_map.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46ef958c2a8cc3af83e6b047e452fed4244f29632505ad3f63baee29af0037431f1d11f6140b1b56f6eb8c23f7b46878dc085fec84680a74936f11acbed618eb05bf32975dc7e7e2de139db17770a599855d3f190f198cfb5c35a7994fc

[2018-11-01 11:09] gubuntu commented on #299
I switched to PT but get an English report

[gavin flood on minplants_table.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46ef958c2a8cc3af83e6b047e452fed4244f29632505ad3f63baf729bd4e7e43434d0eee1e020a17b8eb8339a3be6d72de545db9856c0a71933d44feb88219eb06ee248e5d99a4fedb1294b7607caddecd5d340c041083fe5831a1994cc85df542e44551b6

[2018-11-01 11:12] gubuntu commented on #376
a map report is rather meaninngless without a basemap

[gavin flood on minplants_map.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46ef958c2a8cc3af83e6b047e452fed4244f29632505ad3f63baee29af0037431f1d11f6140b1b56f6eb8c23f7b46878dc085fec84680a74936f11acbed618eb05bf32975dc7e7e2de139db17770a599855d3f170f198cfb5c35a7994cc950f44

[2018-11-01 11:21] gubuntu opened #428 "report does not give aggregation layer breakdown"
I chose three aggregation polygons for this analysis yet there's no mention of aggregation in the report. I expect to see details about each polygon plus the summary / aggregation of all of them put together.

[gavin flood on minplants_table.pdf](https://github.com/kartoza/geosafe/files/2538257/gavin.flood.on.minplants_table.pdf)

[2018-11-01 11:38] gubuntu opened #429 "impact layer won't draw"
If I go to the Create Analysis page and try to toggle one of the available Impact layers (without choosing any hazard, exposure or aggregation layers), nothing happens...

I would expect it to zoom into the extent of the layer I choose and render it.

[2018-11-01 11:44] NyakudyaA commented on #429
@gubuntu this is working for me. I have tried a couple of layers from testing and they zoom to the extent of the impact layer and actually render fine

[2018-11-01 11:45] gubuntu commented on #429
I'm doing a demo on INGC, if it's working on testing that doesn't help...

[2018-11-01 11:49] NyakudyaA commented on #429
Even on INGC it is working for me. I have just tested with `gavin flood on miniplants` and also `flood on health facilities`

[2018-11-01 12:10] gubuntu commented on #429
doesn't work for me (latest Firefox on Mac) even after reloading the page

[2018-11-01 12:12] NyakudyaA commented on #429
Ok, I will try it on chrome and firefox. I am using Safari

[2018-11-01 12:36] myarjunar commented on #299
@gubuntu that is because we still don't have the translation from InaSAFE core. I'm gonna hardcode the text in the template rather than using the expression from InaSAFE.

[2018-11-01 12:41] #299 closed

[2018-11-01 12:41] gubuntu commented on #299
ah OK, I would have translated them in core transife if I had known (or you could have using my translations above)

[2018-11-01 12:51] myarjunar commented on #299
that's fine. since the template is specific only for INGC and also has its own repo, it's better to write the text straight on the template I guess.

[2018-11-01 12:53] myarjunar commented on #429
does this happen on pt only @gubuntu ? I'm working on it

[2018-11-01 13:18] #429 closed

[2018-11-01 13:23] myarjunar commented on #428
@gubuntu tested using Padang villages aggregation layer and it works fine. I think the problems are with the aggregation layer keywords. cc @NyakudyaA

![selection_303](https://user-images.githubusercontent.com/11134669/47854194-b3f93a00-de13-11e8-88cb-4fcef89fff38.png)

[2018-11-01 15:08] NyakudyaA commented on #428
@myarjunar I will look at the keywords. I did not generate them. @raisserafael generated all keywords and I just applied them.

[2018-11-01 18:29] gubuntu commented on #429
yes I was on pt

[2018-11-02 08:14] NyakudyaA opened #432 "Analysis failed due to worker exiting prematurely"
# Problem

On INGC I see there is a process that has halted.

![screenshot 2018-11-02 at 10 11 56](https://user-images.githubusercontent.com/2510900/47901224-04aa7a80-de88-11e8-93f8-7119dbfeae22.png)

Please investigate why this has happened.

[2018-11-02 08:59] lucernae commented on #294
How do we test this?
I applied minimum needs and displacement settings on testing server, but don't know how to test it from the site.

[2018-11-02 09:21] myarjunar commented on #294
@lucernae run 2 analysis with same exposure and hazard layer but with different displacement and minimum needs setting maybe? the table report should give a different result.

[2018-11-02 12:25] NyakudyaA commented on #428
I have just confirmed this is the case with the keywords version. Any aggregation layer generated with keywords version 4.4 will not produce any results.
I deleted Sofala and uploaded it with InaSAFE keywords version 4.3 and here are the results
![screenshot 2018-11-02 at 14 23 34](https://user-images.githubusercontent.com/2510900/47915248-ec982280-deaa-11e8-8548-01811d85e19d.png)

![screenshot 20

[2018-11-02 14:40] gubuntu commented on #428
there surely shouldn't be any difference in behaviour between minor versions.

InaSAFE and GeoSAFE should work properly with keywords from any 4.x version.

[2018-11-02 14:45] gubuntu commented on #294
look at some of the values in the new docs that are different to the originals and see if they are being used?

Can we accommodate PT versions of these? If so I will create tickets for Jose to generate them.

[2018-11-02 19:19] gubuntu commented on #319
- style in  qgis and upload new styles
- add InaSAFE keywords so they are usable in GeoSAFE

@NyakudyaA can help

[2018-11-02 19:56] gubuntu opened #433 "We need more aggregation options"
At the moment we just have _postos_ by province

Add InaSAFE 4.4 keywords to all aggregation layers:
- _postos_ national layer (same as 'administative division ')
- provinces
- river catchments

@NyakudyaA can help

[2018-11-03 13:52] gubuntu opened #434 "analysis results wrong or difficult to understand"
1. I did this analysis with aggregation and there's no aggregation breakdown. Also, is 'total roads' just the length within the aggregation areas?
  a. I'd like to refer to the analysys with a 'share' url  - how do I do that?
1. how can total roads = roads affected? There are definitely some sections of rail/road that do not intersect flood polygons
1. to the user, 'dry' and 'not exposed'  mean th

[2018-11-05 08:29] lucernae commented on #294
CMIIW the displacement rate should be independent of locale, but minimum needs depends on locale, like I mentioned here: #293

[2018-11-05 08:57] myarjunar commented on #428
@gubuntu @NyakudyaA I can reproduce the bug on InaSAFE desktop using test data. I will work on it.

[2018-11-05 10:47] lucernae commented on #428
Ouch, so this bug came from InaSAFE??? @myarjunar

[2018-11-05 11:03] gubuntu opened #435 "translate minimum needs to PT"
can you advise on the best way to do this @lucernae?

(and we don't need to translate displacement rates since none of those language strings come through to the UI or reports?)

[2018-11-05 13:39] gubuntu commented on #294
both can be customised therefore both are instance-specific.

So if there's a custom version of either in the theme project it will be used.

Locale will only come into switching languages, right?

[2018-11-06 10:13] NyakudyaA commented on #319
@raisserafael is going to style them. It seems that cyclones are not supported in GeoSAFE but are available in InaSAFE desktop so they will not be usable as a hazard but will only be available as context layer

[2018-11-06 10:18] NyakudyaA commented on #237
I have added the filters manually for now. It seems all the new analysis layers are currently being assigned keywords `Human Health and Safety`

![screenshot 2018-11-06 at 12 17 27](https://user-images.githubusercontent.com/2510900/48057946-f331dd00-e1bd-11e8-9c77-716593f088fb.png)

[2018-11-06 10:21] NyakudyaA commented on #237
This falls into the category of metadata handling. Currently, InaSAFE designates all metadata as `Human health` So before uploading a user needs to change that keywords to the respective ones available in Geonode already.

Same as above as it is a metadata issue rather than doing in programmatically. If InaSAFE generates metadata that has proper keywords then those keywords will appear in GeoNode

[2018-11-06 12:33] NyakudyaA commented on #433
This layer cannot be used to generate keywords because it lacks the necessary attribute table fields. Please, @raisserafael add the names of the basins if you have access to them and then it can be usable in GeoSAFE. For now I will leave it as a context layer

[2018-11-06 14:33] gubuntu commented on #319
what leads you to say that? Is it just missing a front-end icon? @myarjunar?

[2018-11-06 14:47] myarjunar commented on #428
ups sorry, it turns out that the problem is not coming from InaSAFE, it's from the keywords, see https://github.com/kartoza/geosafe/issues/433 .

[2018-11-06 14:51] gubuntu commented on #428
that's a separate issue - only the river catchments don't have an aggregation field. We've been using postos till now, where the keyword version is the issue - confirm please @NyakudyaA and have you changed the keywords to 4.4 and checked that they work?

[2018-11-06 14:54] gubuntu commented on #237
nice manual solution @NyakudyaA

but it's still a programmatic solution if you want InaSAFE to do it (which isn't going to happen until there's further development with InaSAFE)

[2018-11-06 15:00] lucernae commented on #435
@gubuntu @raisserafael
Please translate this JSON files and made pull request there, or put the files here and mention me.
That's the quickest way for now.
Originally, you can just create the minimum needs in InaSAFE desktop for PT locale and just put all the strings/descriptions there in PT.

https://github.com/kartoza/ingc_geonode_theme/blob/develop/ingc_geonode_theme/templates/geosafe/headless/

[2018-11-06 16:36] myarjunar commented on #434
1.
       - no aggregation breakdown might be caused by the faulty InaSAFE keywords ( see #433 )
       - yes, `total roads` is the length of roads within the analysis/aggregation area
       - we can easily add a share button on the pop-up report and linked to related analysis page. but there might be a problem with layer permission for user viewing that analysis anonymously.

2. fixed in #436
3.

[2018-11-06 18:34] lucernae commented on #294
Yes, to clarify my comments above, both can be customized, but displacement rate should be independent of locale (language settings), because there are no strings there. Meanwhile minimum needs were applied depending on the locale of the analysis used (because there maybe locale specific strings in the minimum needs descriptions).

For example, this is my test data with GeoSAFE (default displaceme

[2018-11-06 18:36] lucernae commented on #294
In summary, the settings override works as expected. In the testing and (soon) production instance, it will use inasafe settings (displacement rate) defined in custom theme app.

[2018-11-06 18:42] lucernae commented on #435
The displacement rates settings is just a number with predefined key from InaSAFE definitions. It doesn't include any locale based strings. The displacement rates were included in InaSAFE global settings (exported from InaSAFE settings options). This settings file includes various flags and default ratios for an instance of InaSAFE, regardless of locale being used.

But minimum needs are different

[2018-11-06 18:59] gubuntu commented on #294
excellent!

[2018-11-06 19:09] NyakudyaA commented on #237
This is working properly and we only have to update the metadata for analysis result so that it can be Impact Analysis.

I will close this ticket for now as we can edit the metadata to do what we need it to do.

[2018-11-06 19:09] #237 closed

[2018-11-06 19:12] NyakudyaA commented on #428
@myarjunar Please check the difference in metadata generated by ver 4.3 and 4.4 and see how it affects  running analysis. All metadata for layers loaded were generated from InaSAFE desktop ver 4.4

[2018-11-06 19:20] NyakudyaA commented on #319
There are only `Floods,Tsunami,Earthquake,volcano and volcanic ash` @myarjunar if you confirm that GeoSAFE does not support cyclones then we can close this and leave the layer configured as Geonode layer

[2018-11-06 19:20] myarjunar commented on #428
@NyakudyaA it doesn't affect the analysis. I have tested it using InaSAFE metadata ver 4.4 and all looks fine, aggregation breakdown is reported. Are you sure you have set the metadata up properly? Or maybe you can share the data if it's not too big.

[2018-11-06 19:25] NyakudyaA commented on #428
@myarjunar you can download the postos from the geonode. Alternatively please see the following postos.
[Archive.zip](https://github.com/kartoza/geosafe/files/2554704/Archive.zip)

[2018-11-06 19:25] gubuntu opened #438 "hazard layers are not styled and flood has no metadata"
- [x] Styling hazard layers
- [x] Adding metadata to Flood

[2018-11-06 19:30] NyakudyaA commented on #438
@raisserafael must have uploaded a new flood layer. He showed me a new flood layer. will look at it now.

For now I will remove clyclones from Hazard layers and just make them Geonode layers because they are not supported.

@raisserafael was supposed to do the styling and add more flesh to the metadata ie Abstract for layers without. will take over the styling.

This will leave us with only 1 haza

[2018-11-06 20:58] myarjunar commented on #428
@NyakudyaA @gubuntu aggregation breakdown only applies to affected exposures. so when there is no aggregation breakdown report meaning there are no affected exposures. I tried an analysis using aggregation area where the exposure intersects with wet hazard class (majority of the Flood Map polygons are dry class) and it generates the aggregation breakdown report.

![selection_305](https://user-imag

[2018-11-07 06:02] gubuntu commented on #428
OK, so this was a red herring...

thanks for investigating, at least now we know

[2018-11-07 06:02] #428 closed

[2018-11-07 07:18] NyakudyaA commented on #382
@myarjunar cc @lucernae the InaSAFE variables are not being substituted in the reports properly
![screenshot 2018-11-07 at 08 56 50](https://user-images.githubusercontent.com/2510900/48115314-2e3e1a00-e26b-11e8-9629-fa4a6ffcec2a.png)

The table report - has it been translated , it is only available in English ?.

[2018-11-07 08:23] myarjunar commented on #382
whoa, can you point me to the analysis page? @NyakudyaA

[2018-11-07 08:26] NyakudyaA commented on #382
@myarjunar http://testing.geonode.kartoza.com/geosafe/analysis/create/80

[2018-11-07 10:20] #414 closed

[2018-11-07 11:28] gubuntu opened #443 "add link to documentation / user manual"
The pdf of GeoSAFE user and technical documentation is at https://drive.google.com/open?id=0B2pxNIZQUjL1Q1RkVHhVTXAzOWc

Can we put a 'Documentation' or 'Manual' link in the GeoSAFE menu on INGC before the demo?

or in another place, open to suggestions

[2018-11-07 13:09] gubuntu opened #445 "analysis setup window still mentions exceeding size limit"
this should have been removed

[2018-11-07 13:36] gubuntu opened #446 "affected = 0"

[2018-11-07 13:38] gubuntu opened #447 "save checkbox redundant"
even if you choose save on the first screen, the checkbox remains unticked

so sync them or remove one.

[2018-11-07 14:15] myarjunar commented on #446
I inspect the impact layer and found that every features in the impact layer has affected field equal False which means total affected = 0 is reasonable. I believe there are some mistakes in the keywords generation either in the hazard layer or exposure layer.

Otherwise, my concern is with the hazard area breakdown in the popup report, it looks dodgy. we need to show it in proper order.

[2018-11-07 15:00] gubuntu commented on #297
I got an email!

- still need to put some text somewhere letting the user know they will get an email

- and the link in the email was invalid  - `x-webdoc://E685DA33-2010-4905-806E-064A6C1EE0BA/geosafe/analysis/create/151`

[2018-11-07 15:05] gubuntu commented on #446
@NyakudyaA please investigate - the data and keywords must be correct, accurate and trustworthy

@myarjunar yes that is an issue - the classes must definitely be ordered

[2018-11-07 15:08] NyakudyaA commented on #446
@gubuntu I will investigate. I will have a chat with Jose. When I took over the metadata uploading I did so with the hope that Jose knew what he was doing and just uploaded the keywords. But will look at each of the layers especially the hazard layer.

But hope the Earthquake I uploaded today worked well in the demo with realistic results

[2018-11-08 07:12] lucernae commented on #297
Lol, @myarjunar It's supposed to be `SITEURL` not `SITE_URL` without underscore 😉.
Anyway, nice to see that it works.

[2018-11-08 07:27] lucernae commented on #443
Yes, it's definitely best to put some links in the website itself.
Thanks for the document @gubuntu !

I suggest we put the manual on GeoSAFE repo too (as a file, raw and pdf maybe). Then link the manual to raw files on github repo. We can't create download link with google drive, but we might be able to create download link in Github. If that's not possible, then it will just be a redirect link.

[2018-11-08 07:30] lucernae commented on #382
My bug sorry! It has been fixed in this commit: . :D
https://github.com/inasafe/inasafe-headless/commit/2dccbe38497fc274dc1f033579260bf8b990ed38

[2018-11-08 07:49] lucernae commented on #264
One thing to worth consider is, even if we used websocket we should also provide the fallback line in case websocket cannot happen, e.g: Cloudflare frontend, rancher haproxy config.

Also, Django Channel only available for python 3 onwards.

[2018-11-08 08:37] #438 closed

[2018-11-08 08:38] NyakudyaA commented on #432
Seems all analysis are running properly after the upgrades. Will close this and only open once I see this again

[2018-11-08 08:38] #432 closed

[2018-11-08 11:30] gubuntu opened #449 "PT map report some strings not translated"
e.g. 'In the Event of...'

[2018-11-08 11:31] gubuntu opened #450 "PT EQ table report completely untranslated"

[2018-11-08 11:40] gubuntu opened #451 "add back DNGRH flood layer"

[2018-11-08 12:20] gubuntu opened #452 "issues with new user permissions and loading analysis"
Please clarify the permissions of new users and what roles they need to be given to have minimal public functionality.

An example is 'bontje' from the WB whom I created as a user last week but did not change any permissions.

She can log in and see some GeoNode layers but the GeoSAFE analysis page and layers did not load properly

IS this indeed a user permission issue, a browser issue or a bug?

[2018-11-08 12:40] NyakudyaA commented on #452
@gubuntu this might be browser issues and connectivity issues.
Currently with no permissions allocated anonymous users can see the public layers and run analysis.
So if a registered user logs in without having any permissions changed he should be able to see those anonymous layers and run an analysis.
![bug](https://user-images.githubusercontent.com/2510900/48199246-3cbc2c80-e364-11e8-99fb-2e94453

[2018-11-08 15:07] gubuntu commented on #452
Bontje was using  IE 11.

@boney-bun @myarjunar years  ago the intent was to make this cross-browser compatible and support the official WB version of IE and do testing with selenium or similar to support this.

What sort of effort are we looking at to make this work on IE 11?

[2018-11-08 19:32] gubuntu commented on #443
GeoSAFE  menu

I edit maintain an odt in Drive and save it as a pdf after updating it - the pdf is always at that link. I guess we could move the odt from Drive to GH

[2018-11-09 08:34] gubuntu commented on #376
add a QSM tile url to the report project. If we can't get that to work a fallback will be to use a local WMS layer or map

[2018-11-12 03:50] myarjunar opened #453 "html content of email notification"

[2018-11-12 03:52] myarjunar commented on #450
fixed in https://github.com/inasafe/inasafe/pull/5042 , but we still need to wait until headless point into `inasafe_4` branch on inasafe. or release new version of inasafe 4

[2018-11-12 03:53] myarjunar commented on #449
fixed in https://github.com/inasafe/inasafe/pull/5042 , but we still need to wait until headless point into `inasafe_4` branch on inasafe. or release new version of inasafe 4

[2018-11-12 04:04] lucernae commented on #385
CC @gubuntu which context layer we want to include in the report apart from basemap?

[2018-11-12 04:06] lucernae opened #455 "Release new InaSAFE bugfix tag"
We need to release proper bugfix tag for InaSAFE v4.4 so it can be used as stable tag for Headless.

[2018-11-12 04:07] lucernae opened #456 "Release new tag for Headless using new InaSAFE v4.4 bugfix"
Use InaSAFE branch v4.4 latest bugfix to create Headless image for production.

[2018-11-12 04:10] lucernae commented on #455
It's better for @myarjunar to do this.
@myarjunar please tell me what the github tag will be when you do a release, so I can automate docker build according to this tag.

[2018-11-12 04:25] myarjunar commented on #319
@gubuntu @NyakudyaA InaSAFE 4 already supports cyclone hazard so we can add it. the only thing missing is the cyclone icon.

[2018-11-12 04:29] lucernae commented on #314
@gubuntu Is this still relevant? Do you have some screenshot for us to look into?

[2018-11-12 08:26] gubuntu commented on #385
these

[2018-11-12 08:27] gubuntu commented on #319
Please go ahead

[2018-11-12 08:31] gubuntu commented on #314
very much so. In this example half the exposure legend is cut off and the impact layer legend is completely off screen. I think we just need to add scroll bars when it reaches screen limits.
![screenshot 2018-11-12 at 10 29 52](https://user-images.githubusercontent.com/496911/48335359-24028e00-e666-11e8-91eb-c4a989286e28.png)

[2018-11-13 03:25] myarjunar opened #458 "not zooming into impact layer extent"
noot zooming into impact layer extent when hazars or exposure layers are being selected.

[2018-11-13 03:54] myarjunar commented on #447
@gubuntu I cannot replicate it both on local and live instance

[2018-11-13 09:47] NyakudyaA opened #463 "Broken Analysis list in production"
# Problem

In production,
![screenshot 2018-11-13 at 11 43 03](https://user-images.githubusercontent.com/2510900/48404700-84aecb00-e739-11e8-8e4f-ff9886375755.png)
 the analysis list is broken

Solution
Please fix

[2018-11-13 10:13] NyakudyaA commented on #300
This has not yet been done . Are we going to do it ?
![screenshot 2018-11-13 at 12 00 09](https://user-images.githubusercontent.com/2510900/48406447-2ab00480-e73d-11e8-916b-a63372b63ad1.png)

![screenshot 2018-11-13 at 12 00 27](https://user-images.githubusercontent.com/2510900/48406542-75318100-e73d-11e8-8769-170e42b02f26.png)

The text specified here and the one in the report is different. Which

[2018-11-13 10:13] #445 closed

[2018-11-13 10:14] NyakudyaA commented on #300
@myarjunar Please see my comments above for this issue

[2018-11-13 12:54] myarjunar commented on #300
@NyakudyaA those strings will be translated in InaSAFE after new release.

I don't understand this part..

[2018-11-13 12:57] #453 closed

[2018-11-13 13:03] #314 closed

[2018-11-13 13:04] #385 closed

[2018-11-13 16:27] boney-bun commented on #458
it seems that the behaviour is expected.
as a user chooses hazard, exposure, (optionally) aggregation, and impact layers, the user will also zoom into a specific area based on the user's interest. then, he will click the `Run` button.
after the analysis finished, geosafe will show the user's area selection instead of impact layer.

[2018-11-13 18:01] NyakudyaA commented on #300
Ok cool

@myarjunar what I mean was that in the report it specifies `Nome de analise` but this ticket just says `analise`

[2018-11-13 18:09] NyakudyaA commented on #427
looks better in the printout below.

![screenshot 2018-11-13 at 20 08 28](https://user-images.githubusercontent.com/2510900/48433500-eb56d780-e77f-11e8-99e6-86c48776b520.png)

[2018-11-13 18:09] #427 closed

[2018-11-13 18:14] NyakudyaA commented on #382
@myarjunar I assume the table will also be translated when a new InaSAFE is released. Otherwise, everything is working properly on this ticket.

[2018-11-13 19:22] #294 closed

[2018-11-13 19:34] NyakudyaA commented on #297
The URL that is being published is now correct.

[2018-11-13 23:12] lucernae opened #467 "Allow GeoSAFE impact layers to exists even when input layer's gone."
Investigate and patch to allow Analysis objects to exists even if their hazard/exposure/aggregation layer gets deleted.
An analysis object will be deleted only if impact layer gets deleted.

We need to:

- Make sure Analysis List/Create/Detail still be able to load correctly in case input layers for one of the analysis is gone.
- Cascade delete Analysis object only if impact layers deleted

[2018-11-14 07:00] gubuntu commented on #463
@boney-bun if you can't fix this now please assign to @lucernae

[2018-11-14 07:11] boney-bun commented on #463
is this related to #467?

[2018-11-14 07:12] NyakudyaA commented on #463
@boney-bun they are two separate issues. This ticket just talks about the ability to see the analysis list.

[2018-11-14 08:04] boney-bun commented on #463
looking at the log:
[code]

the error is due to hazard_layer is None
 it seems that the error is related to #467

if @myarjunar fix #467 then the analysis list page can load properly.

[2018-11-14 08:07] NyakudyaA commented on #463
@boney-bun for now can we just delete that impact analysis result so that we can get the analysis loading whilst we wait for the fix

[2018-11-14 09:47] gubuntu commented on #447
OK, I just did a test and it worked

[2018-11-14 12:10] gubuntu commented on #458
I think the behaviour is to zoom into the extent of the last layer chosen. @myarjunar try to elaborate on what you think is the actual problem here.

[2018-11-14 13:29] NyakudyaA opened #470 "How can we model permisions in the analysis list"
# Problem

Currently, the analysis list doesn't seem to have permissions.

All users can see the analysis list.
![permisions](https://user-images.githubusercontent.com/2510900/48485377-50163e80-e821-11e8-8505-a072b056fd21.png)

User not logged.
![not-logged](https://user-images.githubusercontent.com/2510900/48485537-d29efe00-e821-11e8-828f-0e643ec38767.png)

download results done by admin
![downlo

[2018-11-14 13:30] NyakudyaA commented on #434
I have tested this and will close this as most of the issues have been addressed. The only exception is to have the share button. I will close this and open the share button as a separate issue in the backlog.
#469

[2018-11-14 13:30] #434 closed

[2018-11-14 14:16] NyakudyaA commented on #319
@myarjunar
The cyclone icon does not appear in testing and the appearance is not very nice.
![cyclone-icon](https://user-images.githubusercontent.com/2510900/48488091-a5098300-e828-11e8-920c-4a61c2bb8cb9.png)

[2018-11-14 14:18] NyakudyaA commented on #118
Select a tsunami layer has been added.
![tsunami](https://user-images.githubusercontent.com/2510900/48488235-f44fb380-e828-11e8-82e9-2136cb0b2650.png)

[2018-11-14 14:18] #118 closed

[2018-11-14 14:39] gubuntu opened #471 "these strings not in Transifex"
1. Planejamento de Contingência facilitado. on landing page. This translation is wrong but it is not on Transifex???? it should be 'Planeamento de contigência rápido'
1. De O Quê Se Trata? should be De o quê se trata? It is correct in Transifex but not in GeoNode

[2018-11-14 15:01] myarjunar commented on #471
@gubuntu
1. whoa I can't find it either. will look at it more deeply
2. It is because we are using `capitalize` tag from the HTML. It also affects the English one. Do you want me to remove the tag and just apply the strings as it is?

[2018-11-14 15:05] boney-bun commented on #471
@gubuntu it's my bad.

i change the word according to your feedback manually in the last minute (it was about to demo). the word `Planejamento de Contingência facilitado` was taken from google translate. the original version was InaSAFE made easy.

[2018-11-14 15:12] myarjunar commented on #319
@NyakudyaA it only a matter of reloading static files on testing site. will do it shortly

[2018-11-14 15:16] boney-bun commented on #319
@NyakudyaA the cyclone icon should appear correctly now

[2018-11-14 15:21] NyakudyaA commented on #319
Awesome @boney-bun

[2018-11-14 15:21] #319 closed

[2018-11-14 15:29] myarjunar commented on #471
@gubuntu @boney-bun ah we only need to pull new translations from transifex.

[2018-11-14 20:08] gubuntu commented on #471
correct versions are above - but they shoud be in Transifex not hard coded (@boney-bun if you make a quick hack fix you must remember to un-hack it afterwards and do it properly!)

And rather remove the capitalisation tag and leave original capitalisation, it's different in each language

[2018-11-14 20:14] gubuntu opened #473 "improve watershed style"
as an aggregation layer there should not be any polygon filll

[2018-11-14 20:16] gubuntu opened #475 "populate keywords"
please work with @raisserafael to populate the structured GeoSAFE keywords in all the GeoSAFE layers - many are now missing these

[2018-11-14 20:17] gubuntu opened #476 "fix population by posto"
this layer used to work as an exposure layer but no longer does - fix keywords?

It also does not draw properly - CRS issue?

[2018-11-14 20:20] gubuntu opened #477 "Land Cover needs keywords"
# problem

Land cover (which was called Forestry!) has no keywords and thus doesn't appear as an exposure layer

# solution

add keywords

NB: retain the rest of the metadata. Please work with Jose to ensure he understand the steps to update metadata and keywords without losing either.

[2018-11-14 20:22] gubuntu opened #478 "remove some hazards from INGC theme"
@raisserafael requested that we remove tsunami, volcano and volcanic ash from the INGC instance of GeoSAFE because these are unrealistic hazards in Mozambique

[2018-11-14 20:36] gubuntu opened #479 "add keywords to cyclone layers"
we need to be able to use these as hazards in GeoSAFE

[2018-11-14 23:38] lucernae commented on #463
Yes, definitely related with #467 .
Just delete Analysis object that do not have hazard/exposure thru Admin page, if this problem persists.

[2018-11-14 23:41] lucernae commented on #463
I deleted these botched Analyses for now.

[2018-11-14 23:44] lucernae commented on #376
@gubuntu @myarjunar Basemap added now.
Now, we should decide which layer contexts we want to put into the map. Certainly putting too many contexts is quite confusing (even though it is technically possible).

[2018-11-15 04:02] boney-bun commented on #471
@gubuntu yes, apologize for not un-hacking it.

the latest translation is in transifex now.
one more question: the current PT for `What Can It Do?` is `De o quê se trata?`.
is this correct?

[2018-11-15 06:33] gubuntu opened #481 "remove provincial posto agg layers and replace with one national one"

[2018-11-15 06:39] gubuntu commented on #376
nice work @lucernae

[2018-11-15 07:37] gubuntu opened #482 "new agg layer won't draw after viewing analysis"
I viewed Tim's analysis (156) then wanted to start a new one. So I chose a new hazard and exposure layer but when I got to choosing an aggregation layer it would not draw.

either this is a bug or the user must be advised to reset to begin a new analysis
![Screenshot 2018-11-15 at 09.32.20.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e8

[2018-11-15 07:40] gubuntu commented on #482
mmm, now it's working

[2018-11-15 07:46] gubuntu commented on #482
it drew, but the Run button is not active. I had to reset and start again.

Why is is not possible to start a new analysis without resetting?

[2018-11-15 07:49] gubuntu commented on #297
Add a line to the message box that appears after the analysis has started to inform the user that they will get an email once it is done., even if it takes several hours.

[2018-11-15 08:21] myarjunar commented on #482
@lucernae I see in the js logic of this part that it will not allow run button to enable if its an analysis page. any reason for this? we could easily remove that logic anyway

[2018-11-15 08:44] NyakudyaA commented on #481
@raisserafael please check this one https://geonode.ingc.gov.mz/layers/geonode:national_postos and remove the others if you are satisfied

[2018-11-15 09:03] NyakudyaA commented on #477
Updated - Layer visible in GeoSAFE

[2018-11-15 09:15] #467 closed

[2018-11-15 09:25] NyakudyaA commented on #473
Done. Removed them

[2018-11-15 09:31] #297 closed

[2018-11-15 09:34] lucernae commented on #482
In some sense (REST perspective), if you click a detail URL, you are supposed to be only viewing that resource. Because an Analysis are supposed to be uneditable. The thing that is misleading is we don't have any proper UI guideline on how to present a detail URL of Analysis.
Let's suppose, when viewing an analysis detail we hide all action button (the run button) and only shows the layer that the

[2018-11-15 09:37] NyakudyaA commented on #476
Fixed - Available now

[2018-11-15 09:37] #476 closed

[2018-11-15 09:39] NyakudyaA commented on #463
This has been sorted for now by manually deleting the analysis. Will close this and monitor the related PR to fix the issue that caused this

[2018-11-15 09:39] #463 closed

[2018-11-15 09:47] #478 closed

[2018-11-15 10:30] gubuntu opened #486 "add labels to aggregation layers"
It will help the user decide which posto or watershed or province to choose

[2018-11-15 10:36] gubuntu opened #487 "analysis summary thumbnail not loading"
https://geonode.ingc.gov.mz/geosafe/analysis/create/157
![Screenshot 2018-11-15 at 12.35.08.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417763e7851e32a64c5b27af1112e4f5f575cb053181d1ba6acda6fb4bc2e75820d09b9d93b0b20c76814f9b8d74dbf01bc748c1b81b3ae965e82b96371b8d6d6056b5c17129bfe553fa19c4f

[2018-11-15 10:40] myarjunar commented on #487
there is indeed no thumbnail generated for this layer.. better assign it to thumbnail master cc @boney-bun

![selection_314](https://user-images.githubusercontent.com/11134669/48547529-70b3c680-e8fd-11e8-9fa6-45ba63562012.png)

[2018-11-15 10:52] gubuntu commented on #487
@myarjunar the layer itself is not loading in the geonode layer view https://geonode.ingc.gov.mz/layers/geonode:impact_analysis_1

[2018-11-15 11:16] NyakudyaA commented on #486
Added labels for national postos and watershed. Restricted the labels to only appear draw if they completely fit a polygon. This will result in less clutter and since the user will zoom to choose an analysis this is better

[2018-11-15 11:23] lucernae commented on #487
I can't think of any other explanations other than the impact layer files itself is missing.

[2018-11-15 11:32] NyakudyaA commented on #487
@lucernae cc @gubuntu the layer is there but very big so I think it's just an issue with QGIS rendering the layer.
![analysis](https://user-images.githubusercontent.com/2510900/48550054-4c92be00-e8da-11e8-9f82-0f7137a9725b.png)

If you try to render the layer nginx becomes unstable and sometimes times out.
![nginx](https://user-images.githubusercontent.com/2510900/48550192-b612cc80-e8da-11e8-8a61-

[2018-11-15 11:41] gubuntu commented on #482
doesn't sound like something we should be tackling in a hurry, moved to backlog

[2018-11-15 11:47] gubuntu commented on #486
+1

what about provinces?

[2018-11-15 11:50] NyakudyaA commented on #486
Will add them

[2018-11-15 11:51] gubuntu commented on #487
yip, that does seem to be the problem, it's drawing now. @NyakudyaA please create a new issue for that in the backlog

[2018-11-15 11:51] #487 closed

[2018-11-15 11:51] lucernae commented on #487
But if QGIS who handled it can't open the layer, it will not be able to seed the layer reliably either.
I also found out that there are permissions problem previously (QGIS Server not able to open the layer)
So, QGIS thinks the layer doesn't exists. (Fixed this just now)

<img width="856" alt="screen shot 2018-11-15 at 18 45 34" src="https://user-images.githubusercontent.com/831865/48550991-c04ac0

[2018-11-15 11:58] NyakudyaA commented on #487
@lucernae I wonder why QGIS server would have permissions problems for some layers and not all of them.
Looking at the permissions for all layers it seems to be consistent across the folder.
![matrix](https://user-images.githubusercontent.com/2510900/48551462-4dc5ea00-e8de-11e8-84e4-5696d294456e.png)

Unless maybe it needs to be `rw-rw-rw` for all layers.

[2018-11-15 12:01] lucernae commented on #487
the folder for QGIS is in `geonode/qgis_layer` directory.
I had the scripts that runs permission checks on it when django restarts. However, it doesn't seems to work previously.

[2018-11-15 13:17] lucernae commented on #382
The next step up is to include the table template in Django, so Django wil handle the template translation and generation (it doesn't have to rely on InaSAFE strings).

[2018-11-15 13:58] gubuntu opened #488 "can't use landcover"
well, you can, but the legend is very unwieldy

![Screenshot 2018-11-15 at 15.57.32.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417763e7851e32a64c5b27df1172c4f5c5d5cb053181d1ba6acda6fb4bc2e75820d09b9d93b0b20c76814f9b8d74dbf01bc748c1b81b3ae965e82b96371b8d6d6056b5c17129bfd5d3fa19c4fca5aff4b

[2018-11-15 14:06] NyakudyaA commented on #488
Yeah, the legend class that @raisserafael used is very wide. Maybe it needs a horizontal scrollbar and to fit in the legend div

[2018-11-15 14:12] gubuntu commented on #488
it does have a horizontal scrollbar and because it has a scrollbar it should have a fixed width, which it doesnt.

[2018-11-15 14:18] NyakudyaA commented on #479
It turns out had a lot to figure out on these layers. There was something about the layers loaded that was not working. Tried downloading and then upload again with keywords and the layers had gdal errors. Had to translate them again and then load them again.

![cyclone](https://user-images.githubusercontent.com/2510900/48558462-03e6ff00-e8f2-11e8-83e1-7e0251c4abb1.png)

Now all the layers are app

[2018-11-15 14:18] #479 closed

[2018-11-15 14:22] gubuntu commented on #479
well done, thank you!

[2018-11-15 14:28] gubuntu commented on #88
also consider browserstack

[2018-11-15 14:36] NyakudyaA commented on #475
This is done.
* All impact analysis are not automatically assigned the proper keywords. They generally are classed as `Human Health and Safety`.
Users need to curate them and assign the proper keywords for GeoSAFE
![geo](https://user-images.githubusercontent.com/2510900/48559228-e1ee7c00-e8f3-11e8-824f-730d8badae7e.png)

* When users upload layers they also need to ensure that the metadata stipula

[2018-11-15 14:50] NyakudyaA commented on #486
Added labels for Provinces and districts

[2018-11-15 14:50] #486 closed

[2018-11-15 18:38] gubuntu commented on #88
we don't need to support IE 11 since  INGC staff can also use Chrome or Firefox

[2018-11-15 18:38] #88 closed

[2018-11-15 18:41] gubuntu opened #489 "incompatiable browser message"
If someone attempts tp load the site  in an incompatible browser, pop up a message requesting them to rather use the latest version of a standards-compliant browser such as Firefox, Chrome, Safari, Opera???

[2018-11-15 18:42] gubuntu opened #490 "move metasearch to the end of the GeoSAFE menu"

[2018-11-15 18:57] gubuntu opened #491 "user manual"
- explain why drought and landslide aren't in GeoSAFE and how they could be configured inaSAFE
- explain GeoNode layer view and how impact layer analysis results will be found among other layers
- suggest analysis layer naming convention
- translate to PT
-

[2018-11-15 19:04] gubuntu opened #492 "clean up layers before handover"

[2018-11-15 19:48] gubuntu opened #493 "change waiting analysis text"
in waiting_analysis.html change

`Waiting for analysis to run`

to

`Waiting for analysis to complete`

AND change

`The analysis is running...`

to

`Your analysis job has been queued.`

AND change

`However, you can close this message if you want to continue working. Don't worry, we will send you an email once the analysis is finished. <br />
The larger the analysis area, the longer the analysis

[2018-11-15 19:58] gubuntu commented on #452
IE 11 compatibility no longer required

[2018-11-15 19:58] #452 closed

[2018-11-15 20:00] gubuntu commented on #275
message is improved and user gets email when task done

[2018-11-15 20:00] #275 closed

[2018-11-20 11:11] gubuntu commented on #475
please do another round of review on the current set of layers

[2018-11-20 11:29] gubuntu commented on #382
@lucernae can you put that in a new ticket (in Funnel) then close this one please

[2018-11-21 06:33] gubuntu opened #496 "impact layer metadata"
# problem

Impact layer metadata doesn't seem right. How does the impact layer metadata get generated? Much of it looks like a copy of the exposure layer metadata.

# solution

impact layer metadata should describe the new layer for what it is and reflect the InaSAFE process that produced it, including descriptions of the hazard and exposure layers that were used and the impact function, in the ap

[2018-11-21 06:55] gubuntu opened #497 "auto-generated impact layer name"
# problem

If a user does not specify a name for their impact layer, the system concocts one from the layer name fields (?) of the input layers, which looks terrible.

# proposed solution

construct the impact layer name from the title fields so it's more human readable. Maybe include mention of the aggregation title if one was used

[2018-11-21 06:59] gubuntu opened #498 "unintelligible impact layer legend"
# problem

as a casual user, I wouldn't have a clue how to interpret the legend of this layer `mz_h25 on hrsl_moz_pop_deflate`

![Screenshot 2018-11-21 at 08.56.41.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417763e7b55e32a64c5b370f1172d4f5b5e5cb053181d1ba6acda6fb4bc2e75820d09b9d93b0b20c7

[2018-11-22 07:11] #481 closed

[2018-11-22 07:38] #488 closed

[2018-11-22 07:42] Vries14 commented on #451
DNGRH flood layer added

[2018-11-22 07:42] #451 closed

[2018-11-22 08:43] Vries14 commented on #471
Correct translations added to landing page

[2018-11-22 08:43] #471 closed

[2018-11-22 10:10] Vries14 opened #501 "Add a registration option"
Bug report

There are no options for unregistered users to get registered. To only path to get yourself registered is by entering the wrong details in the sign in page

[2018-11-22 11:11] NyakudyaA commented on #376
Basemap added to the reports

[2018-11-22 11:11] #376 closed

[2018-11-22 11:11] #490 closed

[2018-11-22 11:14] NyakudyaA opened #502 "Enable django to handle table translation rather than Inasafe"
# Problem

The next step up is to include the table template in Django, so Django will handle the template translation and generation (it doesn't have to rely on InaSAFE strings).

[2018-11-22 11:14] NyakudyaA commented on #382
#502

[2018-11-22 11:14] #382 closed

[2018-11-22 12:00] myarjunar commented on #509
GeoSAFE exposure
    GeoSAFE hazard
    GeoSAFE aggregation
    Other curated layers (like drought, landslides, powerlines etc) that are useful but not available in in GeoSAFE
    GeoSAFE impact layers generated by analysis

@gavin we already use this order in the map view except layers other than inasafe layer, because we cannot show them on the map CMIIW @boney-bun

[2018-11-22 12:33] gubuntu opened #504 "watershed layer needs InaSAFE keywords"
There is other valid information in Supplemental Information now but the InaSAFE keywords are gone.

Please add them back without affecting the rest of the metadata, so it can be used as an aggregation layer

[2018-11-22 12:48] NyakudyaA commented on #509
@myarjunar I think what Gavin is trying to say is that when a user goes to our geonode the layer list is alphabetical I think. So instead of having this default list rather sort the layers based on the keywords allocated as described above.

[2018-11-22 13:12] NyakudyaA commented on #504
Added this back.

[2018-11-22 13:12] #504 closed

[2018-11-22 14:26] gubuntu commented on #509
yes we're talking GeoNode layer view here, not GeoSAFE

[2018-11-22 15:22] lucernae commented on #509
This the default behaviour in GeoNode. I assume it is more make sense to override this behaviour in GeoSAFE instead and not change this default GeoNode behaviour. For GeoNode, I think the correct approach would be to play with the sort filter they provided.

I suggest we move it to GeoSAFE and solve it there because in GeoSAFE we can easily check if the layer is InaSAFE layer or not (in addition o

[2018-11-22 15:38] gubuntu opened #506 "long analysis list needs to have max size and scroll"
![Screenshot 2018-11-22 at 17.37.23.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417763e7b56e32a64c5b27ff1112c4f5d5c5cb053181d1ba6acda6fb4bc2e75820d09b9d93b0b20c76814f9b8d74dbf01bc748c1b81b3ae965e82b96371b8d6d6056b5c17129bfd5d3fa19c4fca51f64ae04d52a31a3e71ab.png)

[2018-11-23 07:41] Vries14 commented on #300
@myarjunar could you please confirm if 'Nome de analise' is the translation that should be used for 'Analysis'?

[2018-11-23 07:44] Vries14 commented on #449
Closing this ticket since these strings will be translated with new release

[2018-11-23 10:07] gubuntu commented on #493
@myarjunar note I added a bold tag to a sentence above on WB request

[2018-11-23 11:05] gubuntu opened #508 "correct reported analysis time"
# problem

reported analysis time in the analysis list is many hours behind local time

# solution

investigate whether system time is incorrect - if it is, fix it.

If system time is correct, then fix timezone hanndling in GeoSAFE so that all times get stored and reported correctly

[2018-11-23 13:07] Vries14 commented on #450
Strings to be translated with new release

[2018-11-23 16:24] NyakudyaA commented on #501
This is untrue. They are multiple options listed on at the bottom of the page.
![screenshot 2018-11-23 at 18 24 03](https://user-images.githubusercontent.com/2510900/48952999-ff9f8f00-ef4c-11e8-95c2-fdac16ea65d0.png)

[2018-11-23 20:45] gubuntu commented on #449
@Vries14 please close only when the fix appears in production

[2018-11-23 20:46] gubuntu commented on #450
@Vries14 please close only when the fix appears in production

[2018-11-24 06:28] NyakudyaA commented on #300
The first one seems correct .
![screenshot 2018-11-24 at 08 25 31](https://user-images.githubusercontent.com/2510900/48965277-99edea00-efc2-11e8-9768-ab528ecde37b.png)

@myarjunar Why do we do a partial string translation here. `affected by flood event` should also be in PT
![screenshot 2018-11-24 at 08 25 42](https://user-images.githubusercontent.com/2510900/48965278-99edea00-efc2-11e8-9b48-90fb3

[2018-11-25 08:09] gubuntu opened #509 "modify default layer sort"
# problem

in the layer view, the default ordering mixes up layers randomly (that's how it appears to the casual user)

# solution

change the default order to sort on keywords, specifically
1. GeoSAFE exposure
1. GeoSAFE hazard
1. GeoSAFE aggregation
1. Other curated layers (like drought, landslides, powerlines etc) that are useful but not available in in GeoSAFE
1. GeoSAFE impact layers generate

[2018-11-26 05:54] gubuntu commented on #443
I've moved the odt to GH (ingc_geonode_theme)

although @lucernae I think the manual (odt and pdf) should be in kartoza/geosafe since they are generic.

[2018-11-26 07:16] #493 closed

[2018-11-26 07:52] NyakudyaA commented on #443
This is working properly.
@gubuntu can we replace some of the screenshots in the PDF they are poor quality and resolution.

[2018-11-26 08:33] NyakudyaA commented on #449
@myarjunar Do we not translate the string here
![trans](https://user-images.githubusercontent.com/2510900/49001902-b165d800-f166-11e8-85fc-ab4db22dd106.png)

Otherwise, the rest are working properly

[2018-11-26 08:37] #497 closed

[2018-11-26 08:44] gubuntu commented on #443
thanks @NyakudyaA, I think they are low-res because of the odt export settings, I'll adjust that on my next export

[2018-11-26 08:46] #443 closed

[2018-11-26 10:37] boney-bun opened #510 "add scroll to modal window"
# Problem
a list of layers of either hazard, exposure, and aggregation can be long enough so it can't no longer fit the screen.

# Solution
Add scroll bar to hazard, exposure, and aggregation modal window.

[2018-11-26 10:43] #506 closed

[2018-11-26 13:16] NyakudyaA commented on #450
String are now translated

[2018-11-26 13:16] #450 closed

[2018-11-27 06:31] NyakudyaA commented on #498
This has already been fixed. All flood layers are defined as generic because in the classification of the metadata the flood is in cm and there is no units to assign them in InaSAFE

[2018-11-27 06:31] #498 closed

[2018-11-27 12:45] gubuntu commented on #435
@myarjunar, @raisserafael has just provided this via email. Please test and deploy

[Moz_minimal_needs_PT.json.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46c59b801c8f8aa786e4be4f9b53f5912d5518431d4aa9387f8ba164fd52690e050a1de853524d41f4a88b7faee068248b090eb8d1380d74c63b45abec861aad1da862da11d1e9e1d30695aa2f2ff58a88453f1

[2018-11-28 07:13] NyakudyaA opened #511 "GeoSAFE valid combinations"
# Problem

When a user looks at InaSAFE Impact Function Centric Wizard it guides you on which combinations are valid.

![geosafe](https://user-images.githubusercontent.com/2510900/49134691-0f242c80-f2ed-11e8-9df4-193abdd58e87.png)

For example, we can see that we have no `Impact Function` for Cyclone on roads. But If I choose Cyclone in GeoSAFE I can still navigate to the exposure and choose Roads

[2018-11-28 09:06] lucernae commented on #435
Copy that

[2018-11-28 09:52] lucernae commented on #435
Whoops. InaSAFE minimum needs doesn't support UTF-8. I had to make PR to InaSAFE quickly.

[2018-11-29 10:00] lucernae commented on #508
I think I already fixed this :(.
Maybe there are other bug.
@myarjunar if you are free can you take this over?

[2018-11-29 10:53] gubuntu opened #514 "analysis page not loading"
https://geonode.ingc.gov.mz/geosafe/analysis/

not loading (hopefully it's because it's in the middle of an upgrade?)

[2018-11-29 11:45] lucernae commented on #514
This is a bug. I fixed it yesterday in #512

[2018-11-30 08:32] gubuntu opened #515 "cyclone wind speed units"
# problem

cyclone legend shows mph

Mozambique is metric and wants kph instead.

# solution

confirm what the values actually represent from the documentation (are they really mph in the first place?)

convert legend labels to kph

update InaSAFE keywords to properly use the raster values if they represent mph

[2018-11-30 08:47] gubuntu opened #516 "qml missing from download"
# problem

in the demo I downloaded a zipped shapefile and a GeoTIFF and neither had the qml, so I had to download it separately.

# solution

- zipped shapefile: include the qml and metadata xml

- GeoTiff: zip it with qml and metadata xml

[2018-11-30 11:09] NyakudyaA commented on #515
@gubuntu this layer had no metadata when I looked at it. The mph was a unit that I settled for after looking at the majority of rasters depicting cyclone.

@raisserafael can you please provide me with the correct metadata definitions for these layers. If they are really in kph changing the metadata should be basically easy as it just involves updating the layers with kph

[2018-12-09 19:18] gubuntu opened #517 "handle edge case of no impact layer"
# Problem

In the INGC demo I did a quick analysis of EQ on energy infrastructure in a few districts. It turned out that only one energy installation fell into my analysis area and it was not affected. Therefore,
- no impact layer was generated
- a GeoNode 'layer' was generated with no content and no thumbnail
- the impact report was empty (no map)

# proposed solution

if nothing is affected, jus

[2018-12-10 05:59] gubuntu opened #518 "orphan analyses"
Several analyses have been pending for a couple of weeks now. What has happened to them and why is the page not showing their true status (killed, aborted, etc. or really still running?)

[2018-12-20 12:44] NyakudyaA commented on #508
@myarjunar
The date has been fixed but the analysis time still looks wrong.
![screenshot 2018-12-20 at 14 42 22](https://user-images.githubusercontent.com/2510900/50285652-8de03580-0465-11e9-8e6b-b304f14cbb49.png)

In the attached image the start time and system time look different.

[2018-12-20 12:45] NyakudyaA commented on #514
The analysis page is now loading

[2018-12-20 12:45] #514 closed

[2019-01-07 13:55] gubuntu opened #519 "replace home page image"
Choose and prepare one of these images and replace the current landing page image with it

![Photo_1.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46d89c95378dbcf8cda5fd53b652fa912a5265296b51fb2a2281bb2ebb462a045a0a4ef913585f42a8fedd2fa3a42062c80d55b98e30063e937f03a6aa8317b500bf248d4783bfbf8e4ec1ef3c37aa.JPG)

![Photo_2.JP

[2019-01-07 13:57] gubuntu commented on #435
@lucernae was this fixed in the end? If so please close

[2019-01-07 20:52] gubuntu opened #520 "Many analyses not completing"
# problem

Many analyses are not completing

# proposed solution

troubleshoot and fix...

[2019-01-11 15:15] #301 closed

[2019-01-14 08:29] lucernae commented on #520
Hi @gubuntu , downloaded the layer and tested it in my local env. I can replicate this consistently if I'm using a huge bounds. I think that's the cause (analysis extent is too large).
I'm suggesting we should change the focus to informatively tell the user why an analysis is failing. At the moment we record the stack trace, but it only contains information that the anlysis is crashed (probably hu

[2019-01-14 08:29] lucernae commented on #518
Related with #520

[2019-01-14 11:54] gubuntu commented on #520
@NyakudyaA can you please emulate a few of the stauck processes on the desktop and see how long they take or if there are any other issues?

[2019-01-14 12:01] NyakudyaA commented on #520
@gubuntu Will attend to this and let them run. But my machine is a little beast. It might outperform the server

[2019-01-14 12:02] lucernae commented on #383
Proposal that I can think of now:

1. Analysis model should track the current task result state (done) and stacktrace if failed (exception type, trace messages, error message summary)

2. Check failed task

    a. Should implement periodic task check again to check task state. This is because if a task is failed, we can't execute callback to GeoNode.

    b. Should implement REST API for task fail

[2019-01-16 09:33] lucernae commented on #518
Some update on the diagnostics.

I directly monitor the server these past few days. It does really processing the analysis (I mean, still running). When I restart InaSAFE headless, it restarted the task again (which is good).

![Screen Shot 2019-01-16 at 16.31.35.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/54d0705f7637910300055208/125516c66e82c728ace21e0d46db978826878d

[2019-01-17 11:58] lucernae commented on #520
guys, @timlinux  @NyakudyaA , this issue is related with https://github.com/kartoza/geosafe/issues/518
https://github.com/kartoza/geosafe/issues/383

But, honestly it is such a big block of features if we want to implement the whole diagnostics in GeoSAFE. I was hoping that maybe we could at least show some relevant information for the user, at least to provide some feedback so user knows what is

[2019-03-14 20:40] gubuntu opened #524 "scroll in legend zooms map"
# problem

if I scroll (using mousepad finger drag) in the legend to slide the legend up so I can see the ennd of a long legend, the map zooms instead. (Pulling or clicking in the actuall scroll bar does work)

# solution

the whole legennd area should not allow any actions on the map. scrolling in the legend area should scroll the legend!

[2019-03-18 13:03] gubuntu commented on #323
stale

[2019-03-18 13:03] #323 closed

[2019-03-18 13:05] gubuntu commented on #458
lack of feedback

[2019-03-18 13:05] #458 closed

[2019-03-18 13:12] gubuntu commented on #492
done

[2019-03-18 13:12] #492 closed

[2019-03-18 13:18] gubuntu opened #525 "fix task duration reporting"
Task duration reported as date completed minus date initiated.

It should be processing time elapsed between the two, not actual time

e.g. https://geonode.ingc.gov.mz/geosafe/analysis/218 is reported as two months instead of two days, because processing was suspended for ages.

[2019-03-19 07:12] lucernae opened #526 "Analysis completion does not send email"
When Analysis has finished, it should send an email.
It should be implemented already, so we need to check why it's not working.

[2019-03-19 13:05] gubuntu opened #527 "502 after deleting layer"
I deleted Saravana's MMI hazard layer as it and the other layers involved in his Indian analysis do not belong on the Mozambique instance. I wanted to delete the exposure and impact layers as well but got a 502 on the layer view

[2019-03-19 13:16] lucernae commented on #527
I think the 502 is unrelated with the layer deletion, since I can see the web page.
But this is still an issue and probably related with how we should scale if there are many users try to access the web app (since 502 means nginx can't find more workers and all the current uwsgi workers is busy)

[2019-03-19 13:17] gubuntu commented on #527
this seems to be specific to Firefox. No issue on Chrome

[2019-03-19 13:23] lucernae commented on #527
I don't understand. Firefox does seems to work (I tried it now).
So, I think by chance you experienced the exact moment when it doesn't have uwsgi workers, so it may still be an issue in the future.
I'm going to try to increase the number of uwsgi workers inside the container.

[2019-03-19 13:24] lucernae opened #528 "Analysis completed with no impact layer"
Some analysis like this:

[2019-03-19 13:27] gubuntu commented on #528
in at least one case this is because the hazard layer has InaSAFE 5 keywords instead of 4.4

[2019-03-19 13:29] lucernae commented on #528
Yeah, currently trying to download the layer to know the actual issue

[2019-03-19 13:30] gubuntu commented on #527
but it's still giving a 502 after a long while, logging in and out, closing and opening the tab, hard refresh. Cookie issue perhaps?

[2019-03-19 13:30] gubuntu commented on #528
just look at the metadata detail

[2019-03-19 18:48] gubuntu opened #529 "report zoomed to wrong extent"
This report map is zoomed to the aggregation layer extent instead of the impact layer extent

https://geonode.ingc.gov.mz/geosafe/analysis/create/254

[2019-03-19 19:03] gubuntu opened #530 "osm roads and buildings layers are not restricted to Mozambique"
fix docker-osm, it's pulling roads and buildings for a much larger area than Mozambique (and also not generating thumbnails)

[2019-03-19 19:09] gubuntu opened #531 "remove MapSurfer and change default basemap"
See what's going on with MapSurfer source and why it's so unreliable (has it closed down?). Change the default basemap everywhere (map, layers, analysis etc.) to one that works and remove Mapsurfer completely, replace it with another open option.

[2019-03-19 19:13] NyakudyaA commented on #530
@gubuntu I will look it up and fix. With the thumbnail, there is nothing I can do because the data is too big and qgis server times out whilst generating a get map request.

[2019-03-19 19:22] gubuntu opened #532 "optimise osm buildings rendering"
it's slow, sometimes timing out and sometimes 503

see what you can do with PostGIS config, QGIS config, styles, etc.

for the style, please make points way smaller (just dots not circles) especially at smaller scales.  The points / dots should not be bigger than the building polygons (which they are at the moment). And switch on the polygon layer one zoom level earlier.

[2019-03-20 03:44] lucernae commented on #531
It just hits the rate limit. That's why I added the second basemap in the past.
Just switch to the second basemap in the view as the default (configurable from settings page).

[2019-03-20 03:53] lucernae commented on #528
For this particular layer, it turns out that this layer: https://geonode.ingc.gov.mz/geosafe/analysis/219 has no metadata upload (xml).
Not sure how this happens in the first place, but I just reupload the metadata, fix the upload session for this particular layer so it can have xml file, fix the extent to be consistent with metadata from the admin page, then rerun analysis.
All analysis that uses

[2019-03-22 11:53] NyakudyaA commented on #530
Osm roads now fixed, Still trying to figure out why the osm-buildings are not working properly. Even if the data is for the whole province the extent specified in the qlr should filter this properly

[2019-03-22 12:01] NyakudyaA commented on #530
All fixed now
![screen](https://user-images.githubusercontent.com/2510900/54821447-da2c5300-4caa-11e9-9c46-cd843e0eff37.png)
![osm](https://user-images.githubusercontent.com/2510900/54821449-dac4e980-4caa-11e9-8679-42b87decab63.png)

[2019-03-22 12:01] #530 closed

[2019-03-22 12:03] NyakudyaA commented on #532
This was being caused by the data using the wrong extent. Now it's fixed in the database they should not be this issue
![geo-ext](https://user-images.githubusercontent.com/2510900/54821536-21b2df00-4cab-11e9-8baa-6daee6fbfcf7.png)

[2019-03-22 12:03] #532 closed

[2019-03-22 15:31] NyakudyaA commented on #531
@lucernae can you give a link to the settings page. I do not see it there

[2019-03-25 07:50] gubuntu commented on #531
@boney-bun please do this today, it is urgent

[2019-03-26 06:36] NyakudyaA opened #534 "Impact layer thumbnail in analysis view isn't working"

[2019-03-26 06:46] NyakudyaA opened #535 "Layer styling needs to be improved to see the results on analysis"
# Problem
the layer styling in the impact report makes it unusable - the style must be scale-appropriate and the impact layer must stand out over the exposure layer.

![imp](https://user-images.githubusercontent.com/2510900/54976639-a3548680-4fa3-11e9-9d25-332284af6f7f.png)

# Solution
* @NyakudyaA to fix the style for layers
* The rendering order should have the generated impact layer as the top

[2019-03-26 07:24] NyakudyaA opened #536 "Analysis failed to complete"
# Problem

I was running flood on osm_buildings and I experienced the following errors

[code]

# Solution
* docker-osm produces invalid geometry - Fix this by adding a trigger that fixes that.
* Investigate why it fails

[2019-03-26 07:38] #519 closed

[2019-03-27 14:55] lucernae opened #538 "GeoSAFE crash when dealing with very large vector layers."
# Problem

This issue might relate with other issue because of it's generic symptoms.

Saravana tried to run analysis with a modest size of building layers (20MB of shapefile).
Even if the extent is big, the analysis was complete in around 20minutes or so, after my recent patch to GeoSAFE.
However the problem happens when he is trying to run a second analysis. The server crashed. This bug is repro

[2019-03-27 15:22] lucernae commented on #538
Update on the investigations:

I replicated the behaviour on my own machine with the following specs:

[code]

The crash did happen after the second analysis. The second analysis itself was finished with no problem, but the whole computer crash when I tried to view the layer.
Thus, I conclude the problem lies with QGIS-Server rendering.

It turns out the reason of the memory leak is because for ea

[2019-04-26 08:21] NyakudyaA commented on #535
@gubuntu The style for the impact layers is generated from InaSAFE code. We would have to adjust that accordingly and come up with a suitable color range for the results. For now, I think they have generic styles for each combination of exposure/hazard.
@lucernae correct me if I am wrong

[2019-04-26 08:35] NyakudyaA commented on #534
This is working now. This was mainly related to the basemap issue with mapsurfer.
![basethump](https://user-images.githubusercontent.com/2510900/56794711-00479480-680f-11e9-89a6-dc86bd688ab4.png)

[2019-04-26 08:35] #534 closed

[2019-04-26 08:39] NyakudyaA commented on #526
This is working so I am going to close this.
![result](https://user-images.githubusercontent.com/2510900/56794925-911e7000-680f-11e9-9dd4-778fa851a10c.png)

[2019-04-26 08:39] #526 closed

[2019-04-26 08:54] NyakudyaA opened #539 "thumbnail differs from basemap choosen during running analysis"
# Problem

I have tried creating an analysis and I choose OSM base map
![osm](https://user-images.githubusercontent.com/2510900/56795761-6b926600-6811-11e9-862b-bedc4ff5654f.png)

On the thumbnail that is generated, I expect to get an analysis result with the OSM as a base map.

The base map I get is like this

![thumb](https://user-images.githubusercontent.com/2510900/56795867-a2687c00-6811-11e9-

[2019-04-26 14:36] gubuntu opened #540 "address security issue"
https://github.com/kartoza/geosafe/network/alert/travis-requirements.txt/ansible/open

[2019-10-11 07:07] NyakudyaA opened #541 "Admin page is broken when deleting users"
# Problem

![broken](https://user-images.githubusercontent.com/2510900/66631483-81041c80-ec06-11e9-82aa-49358bd98d1d.png)